[2017-05-11 17:57] efremidze opened #1 "drag and drop support"
Idk if this is something that this repo should incorporate but just asking.

[2017-05-12 00:06] kishikawakatsumi commented on #1
@efremidze I have a plan for supporting drag and drop or something editing features in the future. Currently, I'm focusing on improving stability and performance. Thanks.

[2017-05-15 20:29] rogpfreck opened #21 "`reloadData()` doesn't reflect the latest data source"
Hi Kishikawa,

Thanks for a really excellent spreadsheet view, which I have incorporated into my app.

One problem. I change some settings and try to refresh the spreadsheetView with the usual:

spreadsheetView.reloadData()  or
spreadsheetView.setNeedsDisplay()

But this has no effect on

func spreadsheetView(_ spreadsheetView: SpreadsheetView, cellForItemAt indexPath: IndexPath) -> Cell?

Any sug

[2017-05-16 00:32] kishikawakatsumi commented on #21
@rogpfreck Because the `spreadsheetView (_: cellForItemAt:)` method is called during the layout process, the `needsReload` flag is cleared at the end of the layout process.
Calling `reloadData ()` inside `spreadsheetView (_: cellForItemAt:)` doesn't make sense, for example, doing the same thing with `UITableView` will also produce unexpected behavior. Could you please tell me why you want to do so

[2017-05-16 00:33] #1 closed

[2017-05-16 02:33] zapjonny opened #23 "Questions"
Thanks for a good looking spreadsheetview, I am interested in the timetable in particular.

I have two questions, I looked at the code but didn't find an immediate way to do the below so I'll just ask:

1. Column widths are specified by the delegate - can this be handled by autolayout instead, someway?

2. How would I turn off the titles (channel names)? I'd like to not show that top row at all.

[2017-05-16 04:27] kishikawakatsumi commented on #23
@zapjonny

What you want is `UITableViewAutomaticDimension` and` estimatedHeight` in `UITableView`? Currently, it is not supported. This is because the entire width and height are required before laying out individual cells. (It is the same reason that `UITableView` requires` estimatedHeight`.) If you want to calculate the height using AutoLayout, you need to do it yourself.

Configure the data so

[2017-05-16 08:32] zapjonny commented on #23
OK, think I got those things...

I implemented, or tried, to implement something similar but didn't get very far. So this is definitely a big help. However I'd probably need two more things, and not sure they are implemented or how hard it would be to add them:

1. Something similar to the scrollViewDidScroll protocol function of UIScrollView. I need to update a fixed label with what's currently s

[2017-05-16 09:41] kishikawakatsumi commented on #23
You can scroll to a certain cell by `scrollToItem(at:at:animated:)` or `scrollRectToVisible(_:animated:)`

[2017-05-16 10:10] zapjonny commented on #23
Thanks, I used scrollToItem().

I think that's it for now. I will need to extend the protocol to add scrollViewDidScroll later.

Thanks for your help.

[2017-05-16 10:10] #23 closed

[2017-05-16 10:51] zapjonny opened #26 "didSelectItemAt not always called"
I have trouble getting didSelectItemAt called for tapped cells, or even UIButton:s added to cells. Sometimes the didSelectItemAt is called, but mostly not. Somehow it's more often called when I tap on cell edges, but it might be just a coincidence...
UIButton:s aren't tappable at all for now.

BTW I am still experimenting with the Timetable sample app.

The above happens if I use just one or two c

[2017-05-16 14:20] rogpfreck commented on #21
Hi Kishikawa,

Thanks for your reply.

I have/had no intention of calling reloadData inside the func spreadsheetView (_: cellForItemAt:) . As you rightly point out that would be daft.

Rather I wanted to call reloadData() outside of the func so that it would refresh the data that is being used by spreadsheetView. If spreadsheetView was a standard tableView this would be a trivial matter as reloadD

[2017-05-16 15:28] blainerothrock commented on #21
I am also seeing this issue, I am trying to reload the data after touching a header cell to sort data:

[code]

nothing happens.

[2017-05-16 16:17] kishikawakatsumi commented on #26
Thank you for reporting and investigating. I'll figure out what happens later soon.

[2017-05-16 22:21] jpopham commented on #21
I'm having the same issue, for the same use case as blainerothrock.

[2017-05-17 04:45] kishikawakatsumi commented on #26
@zapjonny Could you try https://github.com/kishikawakatsumi/SpreadsheetView/pull/31 if you get a chance?

[2017-05-17 06:46] zapjonny commented on #26
@kishikawakatsumi It seems like tapping on a cell works good now. Thanks!!
Still a UIButton inside a cell cannot be tapped still. I'm not sure why...

[2017-05-17 06:50] zapjonny opened #33 "A view added to a spread sheet view doesn't scroll"
With a normal UITableView, I was able to have "overlay" views inside the tableview. The overlay views could really be shown "on top" of rows, just by adding them as subviews of the tableview itself. I tried this with SpreadsheetView but wasn't immediately able to. Would I need to add an overlay view to the internal "tableView" (which looks like a scrollview), or what is your suggestion?

[2017-05-17 07:02] kishikawakatsumi commented on #26
I forgot to read that sentence, sorry. I'll investigate soon.

[2017-05-17 08:00] kishikawakatsumi commented on #33
I think the behavior adding a subview to the spreadsheet view is the same as `UITableView`'s. If you add the view directly as a subview of `UITableView`, the view scrolls together, right? To overlay it needs to be added to the `superview` of `UITableView`, I guess.

Could you share a code what you are doing and a code with `UITableView`? @zapjonny

[2017-05-17 08:12] zapjonny commented on #33
Yes, it scrolls with the rows in the`UITableView`, and that is what I needed it to do. This is useful to show a current "timeline" on top of the current program in a timetable, which is what I actually use it for.
There might be other ways to implement that, like adding to the superview of the tableview/spreadsheetview as you mention. But I had it working pretty good, I just add a view to the uita

[2017-05-17 08:17] zapjonny commented on #33
In viewDidload

[code]

Then I did this ONCE in viewDidLayoutSubviews

[code]

Then I used a repeating timer (like every 5 seconds or so), updating the constant of `self.constraintsGreenline`... That's all.

[2017-05-17 08:20] zapjonny commented on #33
I am thinking, what would be really handy, is if there was a designated "overlay" layer/view of UITableView/SpreadsheetView, to which I could safely add views and don't have to worry about the implementation changes someday which could break my overlay views.
So the overlay layer would allow adding stuff and positioning them over the cells using normal frames and/or autolayout.

[2017-05-17 08:52] kishikawakatsumi commented on #33
I understand what you are saying and current spreadsheet view's behavior is unintentional. I thought the behavior is the same as `UITableView`'s, but isn't. The view added to spreadsheet view doesn't scroll together, it's like floating. It is due to the internal implementation. I try to fix it, but it is not a high priority for now. Thank you for pointing out that!

[2017-05-17 09:11] zapjonny commented on #33
Yes, that's why I figure to achieve what I need to do, I have to add overlay views onto the internal tableView, but somehow it doesn't work. Maybe I made some mistake somewhere. Looking for the problem now.

[2017-05-17 09:17] zapjonny commented on #26
BTW I think the way `UITableView` allows touches to UIButton:s etc, is something that has to do with `delaysContentTouches` of `UIScrollView`.

[2017-05-17 09:59] kishikawakatsumi commented on #21
@rogpfreck @blainerothrock @jpopham I found a rendering issue after reloading. But reloading data seems to work correctly. Can anyone provide a reproducible sample project?

[2017-05-17 10:04] kishikawakatsumi opened #34 "A view on a cell doesn't receive any touch events"
Originally reported https://github.com/kishikawakatsumi/SpreadsheetView/issues/26

[2017-05-17 11:17] zapjonny commented on #33
I was able to add a view as an overlay if adding to the internal `columnHeaderView` which I made public. I had to make `ScrollView` public too.
In the app I needed to set `columnHeaderView.clipsToBounds = false`.

[2017-05-17 11:19] zapjonny commented on #26
@kishikawakatsumi so #31 seems ok for the `didSelectItemAt` part. Will you merge that?

[2017-05-17 13:45] blainerothrock commented on #21
[here](https://github.com/kishikawakatsumi/SpreadsheetView/files/1007920/spreadsheet-poc.zip) you go. In this project, I am comparing SpreadsheetView and SwiftSpreadsheetView. The code for SpreadsheetView can be found in `ViewController.swift` and `Cells.swift`

Let me know if you have any questions.

[2017-05-17 16:09] jpopham commented on #21
[Another Example](https://github.com/kishikawakatsumi/SpreadsheetView/files/1008353/testSS.zip).  Clicking on the "Change Value" button updates a UILabel, a UITableView and a UICollectionView - the latter two by calling there reloadData() method.  The reloadData() method of SpreadsheetView is also called, but the SpreadsheetView display doesn't update.

[2017-05-18 07:27] #26 closed

[2017-05-18 10:47] windy48 commented on #21
I'm also facing this issue.
I have found out that if the number of rows or columns wasn't changed It won't do the reload, hope this help.

[2017-05-18 12:18] zapjonny commented on #34
@kishikawakatsumi Sorry to bump again but I still cannot receive any touch to a `UIButton` within a cell. I also tried using a Tap Gesture Recognizer, but it also just does not work.

I am thinking I should try to reproduce the problem within the example project... If I can I will send you.

[2017-05-18 12:44] zapjonny commented on #34
@kishikawakatsumi I added a `UIButton` to SlotCell. It does not receive any touches.
https://github.com/zapjonny/SpreadsheetView/tree/button_test_timetable

[2017-05-18 12:56] kishikawakatsumi commented on #21
@blainerothrock @jpopham Thanks for repro case. The cause of the issue is that reusing cell keeps old data after reloading 😥 It should be fixed by https://github.com/kishikawakatsumi/SpreadsheetView/pull/37, and I will release a new version soon.

[2017-05-18 13:59] blainerothrock commented on #21
Awesome, I tested on that branch and it is working! Thanks!

[2017-05-18 14:25] kishikawakatsumi commented on #34
@zapjonny Figured out that the cell was added by Storyboard doesn't receive touch events. The workaround is to add a button programmatically for now 🙏

[2017-05-18 15:15] zapjonny commented on #34
I also added a tap recognizer to the main view of the cell, that actually worked but I think the delegate `didSelectItemAt` was then not called.

Thanks, I will definitely try to add a button programmatically.

[2017-05-18 15:16] zapjonny commented on #34
This worked. Thanks! This is enough for me, for now!

[2017-05-18 17:19] jpopham commented on #21
Yes that branch works for me too.  Thanks

[2017-05-18 17:49] jpopham opened #41 "Colour attributes of a cell are transferred to wrong cells when scrolling"
If the same subclass of Cell is used for all four areas of a SpreadsheetView with a fixed row and column, then changes to colour attributes in spreadsheetView cellForItemAt are scattered over incorrect cells when the spreadsheet view if scrolled:
[Example](https://github.com/kishikawakatsumi/SpreadsheetView/files/1011804/testSS2.zip).  The wrong colour attributes are cleared by a reloadData.
This

[2017-05-18 18:37] ayoze opened #43 "Support Objective-C only project"
Hello,

first of all, many thanks for this awesome library.

I am trying to use is in my Objective C project, but it seems it is not posible at all for now... the protocols (data source and delegate) are not available from the -Swift.h file, so there is no chance to implement them. Are you planning to make them available soon?

Thanks!

[2017-05-18 19:00] kishikawakatsumi commented on #41
@jpopham It is an expected behavior. `SpreadsheetView` reuses `Cell` for performance as same as `UITableView` and `UICollectionView`. You should reset custom attributes before reusing if you set same reuse identifier to all cells.

[code]

^ You change cell's background color at column and row header (`indexPath.column == 0` and `if indexPath.row == 0`). But you do not set default background color

[2017-05-18 19:35] kishikawakatsumi commented on #43
@ayoze I'd like to support Objective-C. But the priority is low. Because we can use Objective-C and Swift mixed in the single project. So if we'd like to use this library with an Objective-C project, we can write ViewController in Swift. If there are many people who wish to use this project with pure Objective-C, I consider changing the priority.

[2017-05-18 23:44] jpopham commented on #41
Yes of course, my mistake. Sorry about that

[2017-05-18 23:44] #41 closed

[2017-05-19 04:10] #34 closed

[2017-05-19 05:13] #21 closed

[2017-05-19 15:00] rogpfreck opened #47 "ReloadData() doesn't refresh spreadsheetView"
Here's your GanttView, very slightly modified to demonstrate.

[GanttView.zip](https://github.com/kishikawakatsumi/SpreadsheetView/files/1014635/GanttView.zip)

If it isn't meant to work this way, is there a workaround?

Thanks

[2017-05-19 21:48] kishikawakatsumi commented on #47
Duplicate of https://github.com/kishikawakatsumi/SpreadsheetView/issues/21, fixed by https://github.com/kishikawakatsumi/SpreadsheetView/pull/37.
Can you try the latest version?

[2017-05-19 21:55] rogpfreck commented on #47
I’m using SpreadsheetView (0.6.2)

I see there’s a 0.6.3 ver. I’ll try that.

Thanks.

[2017-05-21 17:23] rogpfreck commented on #47
Solved! It took a while.

I've been using cocoa pods, and using ver 0.6.2 of SpeadsheetView. When building my app with this configuration there's no effect using reloadData() one SpeadsheetView.

I had look at the Class demo from SpreadsheetView-master. ReloadData() worked. WTF! I decided to build the Class app as a separate app, using the 0.6.2 via pods. Compiled and worked well, but reloadData()

[2017-05-22 19:45] rogpfreck opened #50 "reloadData() doesn't refresh last 2/3 columns, row 1 of header"
This can be seen more easily by viewing one of the demo apps in landscape mode. Screenshots show GanttChart demo.

  func spreadsheetView(_ spreadsheetView: SpreadsheetView, didSelectItemAt indexPath: IndexPath) {

 print("Selected: (row: \(indexPath.row), column: \(indexPath.column))")

        spreadsheetView.reloadData()  // added

    }

Add reloadData() to  _didSelectItemAt_

Scroll in landsc

[2017-05-23 07:01] kishikawakatsumi commented on #47
@rogpfreck It is not unclear for me, probably you forgot to update CocoaPods master repo? CocoaPods doesn't update its spec repo automatically from 1.0, you need to execute `pod repo update` or `pod update` to update your local spec repo.

[2017-05-23 09:57] luksfarris opened #52 "Make it possible for SpreadsheetView to be subclassed"
Hi @kishikawakatsumi , first of all, fantastic job on this, I specially loved how you did the tests.
Let me try to explain where I'm coming from:

That being said, your current implementation uses `public` for the class, which doesn't allow for it to be subclassed outside it's module.  I've create a pull request to change it to `open`.

Do you think this is a bad approach? Also, for some reason no

[2017-05-23 12:30] luksfarris opened #53 "`spreadsheetView:didDeselectItem` delegate not called when selecting a cell that should not be selected"
Consider the following scenario:

Delegate `shouldSelectItemAt` is configured to select (0,0) but not (0,1).
1) When I select (0,0) it correctly selects it.
2) When I select (0,1) it correctly deselects (0,0) and does not select (0,1).

What I expected to happen: on action `2`, I expected `spreadsheetView:didDeselectItem` to be called, but it isn't. I will work on a pull request for this, but I'd

[2017-05-23 12:33] rogpfreck commented on #47
I did that very recently. Looks like I'll have to do it again.

On 23 May 2017, 08:01 +0100, Kishikawa Katsumi <notifications@github.com>, wrote:

[2017-05-23 12:47] luksfarris commented on #53
I've just figured out `didUnhighlightItemAt` is called, so I'm closing this issue 👍

[2017-05-23 13:38] rogpfreck commented on #47
Fixed. Thanks.

[2017-05-23 13:38] #47 closed

[2017-05-25 02:36] #50 closed

[2017-05-25 02:37] kishikawakatsumi commented on #50
@rogpfreck Thank you. This issue was fixed by https://github.com/kishikawakatsumi/SpreadsheetView/pull/54

[2017-05-26 02:57] kishikawakatsumi commented on #53
@luksfarris It's intended behavior. I made it match `UICollectionView`'s behavior. I also agree with you, the behavior that you said seems more intuitive and be preferable. However, I think that it is better that it matches collection view's behavior.

[2017-05-27 03:14] Smiacter opened #58 "Can't use pod to get SpreadsheetView"
When I add pod 'SpreadsheetView' into my Podfile and run pod install, it show me "[!] Unable to find a specification for `SpreadsheetView`"
And I run pod search, it also couldn't find it.

Please check this, thx.

[2017-05-27 04:43] kishikawakatsumi commented on #58
@Smiacter You should run `pod repo update`.

[2017-05-27 10:10] Smiacter commented on #58
Ok, I'll try it, thx

[2017-05-27 10:57] Smiacter opened #59 "UI misplaced when reloadData() with frozenColumns changed"
I have 4 buttons, and when I click one, I'll reloadData...
First I set frozenColumns to be 4, frozenRows to be 1, everything work fine, but when I click one button and reloadData(), set frozenColumns to be 0,  the UI misplaced. The later header and data resource are less than the former one.
![img_0166](https://cloud.githubusercontent.com/assets/5238096/26520875/e5e57166-430d-11e7-92cd-2a85f99e345

[2017-05-27 11:26] Smiacter commented on #59
When set same frozenColumns, everything is OK!
`    func frozenColumns(in spreadsheetView: SpreadsheetView) -> Int {
//        return badType == .list ? 0 : 4   // UI misplaced
        return 4                            // UI OK
    }`

[2017-05-27 11:27] Smiacter commented on #59
When set same frozenColumns, everything is OK!
`func frozenColumns(in spreadsheetView: SpreadsheetView) -> Int {
// return badType == .list ? 0 : 4 // UI misplaced
 return 4 // UI OK
 }`

[2017-05-27 12:05] kishikawakatsumi commented on #58
Closing. Seems to be resolved.

[2017-05-27 12:05] #58 closed

[2017-05-27 14:03] kishikawakatsumi commented on #59
@Smiacter Could you provide a reproducible project? I cannot reproduce the issue yet.

[2017-05-27 15:38] Smiacter commented on #58
OK, update pod fixed my problem. THX.

[2017-05-27 15:41] Smiacter commented on #59
Thanks for you reply, here I wrote a demo that can reproducible the issue.

In the demo, click button2 then click button2, the UI will misplace...

[UIMisPlaceIssue.zip](https://github.com/kishikawakatsumi/SpreadsheetView/files/1033636/UIMisPlaceIssue.zip)

[2017-05-28 05:15] #33 closed

[2017-05-28 05:17] kishikawakatsumi commented on #59
@Smiacter Thank you for the repro case. It should be fixed by https://github.com/kishikawakatsumi/SpreadsheetView/pull/60

[2017-05-28 09:40] #59 closed

[2017-05-29 14:21] luksfarris commented on #53
Hi, thanks for taking the time to answer it.
I understand your position, and will work around this.
Feel free to close this issue 😉

[2017-05-29 14:54] kishikawakatsumi commented on #53
@luksfarris Thanks!

[2017-05-29 14:54] #53 closed

[2017-05-30 12:17] Romores opened #67 "reloadData() doesn't reset cells"
Hello!
First of all, thank you for this extremely useful library.
I'm having a data update problem.

What I basically need to do is to show a timetable of events which can vary from day to day. I want to refresh all the contents in the spreadsheet according to the day I select so that only the events in that day are shown.

The problem I am experiencing is that by using "reloadData()" the contents

[2017-05-30 12:23] Romores commented on #67
I eat my own words, I JUST noticed that I forgot to delete ALL the data before reloading it...

I'm so sorry, it was an error so stupid I didn't notice it. Please don't mind this topic.

[2017-05-30 12:23] #67 closed

[2017-06-02 15:15] patchthecode opened #74 "Swift Package Manager?"
1. Is it possible that you can restructure your project files so that is it compatible with `Swift Package Manager`?

2. Also, one question.
I maintain a [calendar project](https://github.com/patchthecode/JTAppleCalendar) and I was thinking of developing a `Calendar Schedule Week view`, but I stumbled across this excellent framework and was wondering if doing that library would be unnecessary.
Can

[2017-06-02 22:35] kishikawakatsumi commented on #74
@patchthecode

https://github.com/apple/swift-package-manager/blob/f303078b2fd2f58e6ab9973442dbde79edfd3e58/Documentation/Usage.md#depending-on-apple-modules

[2017-06-02 22:40] kishikawakatsumi commented on #74
I think the [Schedule](https://github.com/kishikawakatsumi/SpreadsheetView/tree/master/Examples/Schedule) example project is roughly close to the calendar week view.

I may add date/time related functions when supporting editing features in the future, but I have no plans at the moment.

Does it answer for you? @patchthecode

[2017-06-02 23:23] patchthecode commented on #74
Yes it does.
Thanks for the information.

[2017-06-02 23:23] #74 closed

[2017-06-03 06:55] adamhongmy commented on #43
Where can I vote for objective c? I need it too.

[2017-06-04 13:41] zapjonny opened #79 "Question: Cells appearing from bottom"
Does this allow cells to appear from bottom and up?
Like, if you only have one cell, it would appear at bottom of the bounds of the SpreadsheetView. If you have two cells, the new cell (with row index 1) pushes the first cell 0 "up" one step.

[code]

I guess with a Spreadsheet view it might come down to implementation details, but I'm just checking if this is something that would be easily possib

[2017-06-05 04:31] kishikawakatsumi commented on #79
@zapjonny It wasn't supported currently. I can probably add such feature as a configuration option. But it requires consideration, such as consistency with existing behavior.

[2017-06-06 01:53] zapjonny commented on #79
Ok thanks I was able to create something similar to it yesterday. The problem is I likely need to use auto layout sized cells/rows, and I'm not sure I can pull that off any soon.

Maybe I can share my work so far later. The usual uitableview actually works mostly like this, the only difference is the direction cells align when the table view is not filling the outer frame height. Even with uicolle

[2017-06-16 06:34] Romores opened #81 "ScrollToItem moves rows to the bottom"
Hello, I seem to have an issue that I don't know how to solve.

I have a spreadsheet with a variable number of rows, and I noticed that if I use the ScrollToItem command when the height of all rows is lower than the SpreadsheetView's height, all the rows are moved to the bottom side of the view. This is not the kind of behaviour I'm looking for, as I want that the rows remain on the upper side exa

[2017-06-18 09:13] Romores commented on #81
Here's an animated gif that shows what happens.
I made so that by clicking on the first cell in the row, the spreadsheet scrolls to the start of the event relative to that particular row, but it also moves all the rows (including the frozen ones) to the bottom. I want the cells to remain on the upper side of the view.

![spreadsheet_glitch](https://user-images.githubusercontent.com/29062212/272595

[2017-06-20 11:29] Romores commented on #81
I just noticed that the same happens on the right and left sides.

Basically, whenever there's space between the last row/column and the view, they are moved to the opposite side.

[2017-06-23 12:30] gauraveleven opened #82 "How to draw Gantt Chart with percentage of work in iOS?"
Sir,
I am using "kishikawakatsumi/SpreadsheetView" library provide by you.I am facing issue to draw to chart basis on percentage of work day-wise and link the two progress of different task. So could you please tell me how to edit this existing library according to my task provide by you. Please  check attached screens.

I am trying from past 10 days but I am not able to get the solution. Please h

[2017-06-23 18:58] patsluth opened #83 "Crash when in a View Controller that is in a Navigation Controller"
`2017-06-23 12:56:36.195516-0600 GanttChart[76766:20191693] -[SpreadsheetView.SpreadsheetView refreshControl]: unrecognized selector sent to instance 0x7fc0fdc08570
2017-06-23 12:56:36.200924-0600 GanttChart[76766:20191693] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[SpreadsheetView.SpreadsheetView refreshControl]: unrecognized selector sent to instance 0

[2017-06-25 17:52] Romores commented on #82
For the first one, maybe you could try creating a nib containing a sort of progress bar to use as a reusable cell for the various tasks, and changing the value of the progress bar in the datasource method. I have never tried something like that, but I believe it could work.

Regarding the second request, I have no idea, sorry. It looks very specific and out of the scope of this library as it is. M

[2017-06-26 02:07] kishikawakatsumi commented on #83
@patsluth Can you please share/send me the reproducible project?

[2017-06-26 11:41] jpopham opened #84 "Problem when installing with CocoaPods"
When I try to install with Cocoa Pods I'm getting the "Convert to Current Swift Syntax?" dialog as soon as I open the workspace telling me that :

"The target “SpreadsheetView” contains source code developed with an earlier version of Swift.
Choose “Convert” to update the source code in this target to Swift 3."

If I choose "Convert" I get loads of syntax errors.  If I choose "Later" I'm told that

[2017-06-26 13:26] patsluth commented on #83
The only change I made was to the GanttChart example project Main.storyboard file. Thanks for looking into this.

[SpreadsheetView-master 2.zip](https://github.com/kishikawakatsumi/SpreadsheetView/files/1102227/SpreadsheetView-master.2.zip)

[2017-06-26 15:19] jpopham commented on #84
Closed Xcode re-opened, cleared and rebuilt and all the errors disappeared.

[2017-06-26 15:19] #84 closed

[2017-06-27 01:46] kishikawakatsumi commented on #83
@patsluth I cannot reproduce the crash yet. I've built & run the app using Xcode 8.3.2 with iPhone 7 and 7 Plus simulator, and drag around randomly and things seemed fairly smooth. What steps specifically need to be followed in order to trigger the crash?

[2017-06-27 01:54] patsluth commented on #83
My apologies, this is for the Xcode 9 beta. Simply adding a SpreadsheetView in any UIViewController with a UINavigationView would cause a crash. (Either in IB or in code)

[2017-06-27 03:17] kishikawakatsumi commented on #81
@Romores Thanks for reporting. I will fix it soon.

[2017-06-27 03:22] kishikawakatsumi commented on #83
@patsluth Thanks. It is probably the side-effect of changing the behavior of "automatically adjust scroll view insets" on iOS 11. I'll fix it.

[2017-06-27 18:29] lukejones1 opened #86 "Enabling paging"
Can't seem to enable paging at all. Crashes with reason `[SpreadsheetView.SpreadsheetView _adjustedVerticalOffsetPinnedToScrollableBounds:]: unrecognized selector sent to instance 0x7f9a34f20d20`

[2017-06-27 18:59] kishikawakatsumi commented on #86
What's version of iOS?

[2017-06-27 19:31] lukejones1 commented on #86
iOS 10.2

[2017-06-28 01:11] kishikawakatsumi commented on #86
@lukejones1 Could you provide reproducible sample code? I cannot reproducible the crash.

[2017-06-28 08:29] lukejones1 commented on #86
Not doing anything new as such.  I've just added the minimum requirements to get started.

    class ViewController: UIViewController {

    lazy var spreadsheetView : SpreadsheetView = {
        let view = SpreadsheetView()
        view.delegate = self
        view.dataSource = self
        view.showsHorizontalScrollIndicator = false
        view.intercellSpacing = CGSize(width: 0, height: 0)

[2017-06-29 05:02] kishikawakatsumi commented on #86
Thanks. I'll look into it tonight.

[2017-06-30 15:13] bawelter opened #88 "xCode 9 Beta - Swift 3.2/4 Compatibility With Schedule Example"
Tested the Schedule Example out on xCode 9 with the Swift 4 compiler as Swift version 3.2 in the build settings and it would compile but when trying to open in the emulator it would crash.  All other examples worked fine.

Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[SpreadsheetView.SpreadsheetView refreshControl]: unrecognized selector sent to instance 0x7fdc

[2017-06-30 15:32] bawelter commented on #88
Looks like this is a problem whenever a Navigation Controller has the SpreadsheetView as a Root View Controller.  I will be looking into the issue to see if I can find a solution.

[2017-06-30 17:45] bawelter commented on #88
Looks like this issue is the same as issue #83

[2017-06-30 18:18] zzhao36 opened #89 "Content offset doesn't work"
Hi, I'm creating a spreadsheet view that gets its data periodically refreshed. Whenever I reload data, I want to remember where the user scrolled to. However, the view will always reload to the beginning of the scroll view. Here's my code:

[code]
I'm printing out the contentOffset values and they seem to be calculated correctly.
<img width="150" alt="screen shot 2017-06-30 at 11 16 25 am" src="ht

[2017-07-01 05:46] kishikawakatsumi commented on #88
@bawelter Yes. Closing duplicate of https://github.com/kishikawakatsumi/SpreadsheetView/issues/83

[2017-07-01 05:46] #88 closed

[2017-07-01 22:00] babramovitch opened #91 "Cell widths and heights that aren't whole numbers cause graphical glitches on the cell borders."
Hi,

First off I just want to say, what a wonderful library.  I didn't think I'd be able to get a grid schedule into my app for the upcoming festival this year due to time, but it's been so easy to work with, I had the schedule fully loaded in under a day and started adding my own functionality ontop of it with ease.  Well done.  Super flexible.

I'm working on a schedule view, where I have a day/

[2017-07-06 06:42] Romores commented on #86
I tried this too, and the error is pretty much the same.

[2017-07-06 15:14] coty10 opened #92 "Swift 4"
Hi!
I'm using xcode-beta-9 and getting few errors? Any plan to add the code for swift 4?

Thx! :)

[2017-07-09 02:56] Noitidart opened #94 "Change frozen rows/columns on runtime"
Hi there,

I need to change the number of columns that are frozen. I tried to set `spreadsheetView.frozenColumns` but this is get-only. Is this possible?

[2017-07-10 11:36] orazz commented on #83
Did u solve this problem? Can i get this update?

[2017-07-13 12:38] kishikawakatsumi commented on #94
@Noitidart You can use dataSource method instead. `spreadsheetView.frozenColumns` is a convenience API to retrieve current setting. SpreadsheetView is almost same usage for UITableView and UICollectionView.

[2017-07-13 12:38] #94 closed

[2017-07-13 12:39] kishikawakatsumi commented on #94
If you have further questions, please feel free to reopen this issue.

[2017-07-13 18:08] Noitidart commented on #94
Thank you very much @kishikawakatsumi I'm actually not a Swift guy, do you mean I can do this:

[code]

[2017-07-15 07:27] Vaccuss commented on #92
Hey mate, would also like to request xcode-beta-9 and swift 4.

[2017-07-15 08:48] orazz opened #95 "crash on iOS 11"
Did you solve this bug on iOS 11?

[2017-07-16 02:00] kishikawakatsumi commented on #95
@orazz Could you please provide more details? Can you provide a reproducible sample code?

[2017-07-16 04:35] #86 closed

[2017-07-16 11:32] #92 closed

[2017-07-16 11:33] kishikawakatsumi commented on #92
This issue was fixed on master. Thank you for reporting.

[2017-07-16 18:00] #83 closed

[2017-07-16 23:03] kishikawakatsumi commented on #94
@Noitidart No, `SpreadsheetViewDataSource` doesn't have such property/setter. You need to implement data source method first,

[code]

Then change `frozonRowCount`, call `spreadsheetView.reloadData()` to reflect current state. Probably you should learn basic iOS programming first.

[2017-07-16 23:09] kishikawakatsumi commented on #89
@zzhao36 Spreadsheet view keeps `contentOffset` after reloading. It is the same behavior as UITableView or UICollectionView. I'd like to know what happens correctly. Can you provide a reproducible sample code?

[2017-07-17 00:39] #79 closed

[2017-07-17 00:39] #82 closed

[2017-07-17 18:14] Noitidart commented on #94
Thank you sir for those details. I will try it out.

[2017-07-19 10:53] ikyh opened #101 "Colour Attributes don't work for columns"
@kishikawakatsumi   Hello..!! I am working on Schedule example.

## Expected Behaviour
Columns should have alternate darkGray and lightGray colour.

## Actual Behaviour
Initially when the app launches, the background colour for respective cells is filled in empty cells. Then upon scrolling horizontally, some cells are filled with background colour and some are not. Also the colour gets transferred

[2017-07-19 15:08] Rufy86 opened #102 "Manual Installation"
Is it possible install manually the framework? if it is, how?

Thank you

[2017-07-19 19:00] kishikawakatsumi commented on #101
It seems to be a problem due to cell reusing. Did you reset the state correctly before the cell is reused?

Can you provide a reproducible code? @ikyh

[2017-07-19 19:06] kishikawakatsumi commented on #102
Yes, it is. An easy way is to add a SpreadsheetView project to your project and specify it as embedded framework. Please look at projects in the examples directory. All of those projects are built using the way.

[2017-07-20 03:17] kishikawakatsumi commented on #95
Closing, lack of information and no response. Feel free to reopen if you can provide more details.

[2017-07-20 03:17] #95 closed

[2017-07-20 05:42] ikyh commented on #101
@kishikawakatsumi  Sorry I didn't. In which method do we have set that and How?? please help

[2017-07-20 06:32] kishikawakatsumi commented on #101
@ikyh Your question is too broad and ambiguous. Explaining everything from scratch is inefficient. Please provide your current code.

[2017-07-20 06:55] orazz commented on #95
Tested in XCode 9, iOS 11. bug fixed thanks.

[2017-07-20 07:49] ikyh commented on #101
@kishikawakatsumi Hello....!! here is the code... I have made some changes in the frozen row and column cells according to my requirement. That is working fine except the column colours.
![init](https://user-images.githubusercontent.com/29946749/28406388-02477272-6d4e-11e7-86ea-7a55484b2b8b.png)
![randomcells](https://user-images.githubusercontent.com/29946749/28406395-0a1c39ce-6d4e-11e7-9f11-8158

[2017-07-20 17:13] kishikawakatsumi commented on #101
@ikyh The first screenshot indicates an answer. Empty cells have a background color, but text cells don't.  You forgot (comment out) to assign `color` when the text is not empty.

[code]

[2017-07-20 18:23] hcrgithub commented on #43
Can we please have Objective-C version of it?

[2017-07-21 05:12] ikyh commented on #101
@kishikawakatsumi Very small mistake I made. Thanks a lot..! It's working now..

[2017-07-21 05:12] #101 closed

[2017-07-21 17:48] Rufy86 commented on #102
is there a easiest way? for example copy source code, o framework in the project?

because adding the project come out errors with info.plist file. in the project there are info.plist file that make conflict with the main project

[2017-07-21 19:47] kishikawakatsumi commented on #102
Copying the source code should work, but that is a little bit harder way.
It is much easier to refer just as a subproject. Of course, if you choose copying source code, copy only the source code. Don't copy `Info.plist` or something else.

[2017-07-21 19:49] kishikawakatsumi commented on #102
Or you can use pre-built binary. https://github.com/kishikawakatsumi/SpreadsheetView/releases
Just drag & drop `SpreadsheetView.framework` that is extracted from the zip file to `Embedded binaries` section.

[2017-07-22 04:19] kishikawakatsumi commented on #89
Closing due to no response

[2017-07-22 04:32] kishikawakatsumi commented on #91
I'm not sure it would be better fixing this issue on the library side, but I will try it. Can you provide a reproducible sample project? @babramovitch

[2017-07-22 04:52] babramovitch commented on #91
I agree, it might not be best library side.  Mainly, I wanted to post this here so others would be aware of it should they encounter it and wonder what was going on.

When I get a chance, I'll try putting together a sample app.

[2017-07-23 00:49] #81 closed

[2017-07-23 12:12] #102 closed

[2017-07-23 20:28] babramovitch commented on #91
@kishikawakatsumi  So I downloaded the sample project with the library and tried changing the numbers for the width/height in the schedule section and it creates the problem on my iPhone 6

https://github.com/kishikawakatsumi/SpreadsheetView/blob/master/Examples/Schedule/Sources/ViewController.swift

 func spreadsheetView(_ spreadsheetView: SpreadsheetView, widthForColumn column: Int) -> CGFloat {

[2017-07-27 14:11] ikyh opened #108 "Index out of range Exception for less number of rows or columns"
@kishikawakatsumi  Hi again, I have used Schedule app logic.  I have 4 columns and 3 rows. I am rendering the data array by transposing it. For eg. By your logic, [''1", "5", "9"] are placed in first row, but after transposing data array  ["1", "2", "3","4"] is placed in first row.
[code]

Logic for Transpose:

[code]

When I reduce number of rows or columns, then I get "fatal error: Index out of

[2017-07-27 15:04] kishikawakatsumi commented on #108
@ikyh Can you share your project? Your question is very unclear and you do not seem to understand the correct usage.

[2017-07-28 09:32] AStenzel opened #109 "Make Cell.indexPath accessible"
Hi @kishikawakatsumi, first of all, great job on this.

I'm trying to use SpreadSheetView as an editabel grid.
Therefore I have subclass cells in many different ways.
After editing a cell, i have to unselect the cell at cells indexPath.
The problem is, that indexPath is inaccessible due to 'internal' protection level.

Is it possible to provide a getter for cells indexPath, e.g.

[code]

Kind rega

[2017-07-28 10:29] kishikawakatsumi commented on #109
@AStenzel You can add `indexPath: IndexPath` property and assign it yourself.

[code]

[code]

[2017-07-28 11:24] AStenzel commented on #109
Yes, I know this solution, but why should I duplicate this variable when it's already available?

[2017-07-28 11:44] kishikawakatsumi commented on #109
@AStenzel Because UITableViewCell and UICollectionViewCell don't expose `indexPath` property. Probably defining it yourself is enough in most use cases. It is not necessary to expose implementation details. I would like to keep the public API as small as possible for now.

[2017-07-28 11:47] AStenzel commented on #109
Ok, thanks a lot.

[2017-07-28 11:47] #109 closed

[2017-07-30 01:17] kishikawakatsumi commented on #52
I will do it after releasing version 1.0.

[2017-07-30 16:54] kishikawakatsumi commented on #108
@ikyh SpraedsheetView's API is the same as UITableView/UICollectionView's manner. If there is any change in the data source, you must tell the view of the change using `reloadData()`.

[2017-07-31 12:17] ikyh commented on #108
@kishikawakatsumi Hello..! It does not work. I have 5 columns but the grid data I am rendering to columns has 4 elements in the array. I am still getting Index out of bounds exception.

[2017-08-01 05:34] muratmusic opened #110 "SpreadsheetView scroll position jumps after reloadData if you freeze columns or rows"
Please fix this problem

## Expected Behavior
SpreadsheetView should not change its scroll horizontal and vertical positions after reloadData method is called

## Actual Behavior
SpreadsheetView jumps after reloadData if you freeze columns or rows

## Steps to Reproduce the Problem
1. Freeze one column in ViewController of ClassData example project. To make it insert
this data source method into V

[2017-08-01 06:47] #108 closed

[2017-08-02 09:08] aelam opened #112 "Sticky Rows and Columns can bounce"
## Expected Behavior
1. Sticky Rows and Columns stick tightly on the borders
2. vertical indicator would shake when dragging none-vertically and none-horizontally to make the header away from the top then release your hand

## Actual Behavior
Sticky Rows and Columns can bounce

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: Xcode9-beta4
  - iOS version: iO

[2017-08-03 07:05] kishikawakatsumi commented on #112
@aelam Can you provide your `SpreadsheetView`'s configuration? The best way is share your code around instantiating `SpreadsheetView` and setting its properties.

[2017-08-04 01:22] Pr-Chen opened #113 "I need do something when scrolling, how can I observe scrollView's scroll?"

[2017-08-04 17:52] ideity opened #114 "IntrinsicContentSize"
Hello!

I've got a question for you, and it revolves around the intrinsic content size. I have a need to build a component around your spreadsheet view, potentially stacking multiple spreadsheets within a single scroll view. To do this, it's important that we have support for intrinsicContentSize from the SpreadsheetView, and I'd like to know what you think the best way to approach this would be.

[2017-08-04 18:16] zzhao36 commented on #89
Hi, sorry for the super late reply! Essentially, I was constantly reloading my spreadsheet view to update the information in the cells. Basically, the content offset would always be off:
![aug-04-2017 11-03-50](https://user-images.githubusercontent.com/12378366/28981028-d0f4f826-7904-11e7-8cef-b686713bb726.gif)
I think it's because reloadData() was called before the scrolling stopped, and therefor

[2017-08-04 18:35] ideity commented on #114
Another option might simply be to expose a getter that reports the spreadsheet view's contentSize.

[2017-08-05 13:31] kishikawakatsumi commented on #113
After https://github.com/kishikawakatsumi/SpreadsheetView/pull/115 merged, you can observe scroll event like the following:

[code]

[2017-08-06 04:58] hemangshah commented on #43
With the great evaluation of Swift language over Objective-C, I believe it's been already a great time to start creating a new project in Swift and to keep helping the old project with bridging header without generating a necessity of the great code in Swift for Objective-C. I have started my career in Objective-C back in twenty twelve and never wanted to replace it with Swift or any other languag

[2017-08-07 01:29] Pr-Chen commented on #113
great

[2017-08-07 02:11] aelam opened #116 "Is it enable to add Pull-to-Refresh to its header?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2017-08-07 03:46] kishikawakatsumi commented on #116
In theory, it is probably possible. Because spreadsheet view behaves almost same as scroll view. Do you have any specific problems?

[2017-08-07 05:18] aelam commented on #116
Not try yet,  just researching the possibility. If it's not a scrollView maybe there is still some work to do to make it work with Pull-to-Refresh Control

Multi floating sections like UITableView is also a problem to me. I can see your spreadsheet can set fixed  rows  columns by set a number in delegate methods, How about multi-sections  does it support?  For example I have two sections, when the

[2017-08-07 05:49] kishikawakatsumi commented on #116
@aelam Spreadsheet view has no floating section header.

[2017-08-07 05:56] #113 closed

[2017-08-07 16:31] kishikawakatsumi commented on #112
Closing due to no response. Please feel free to reopen this issue if you can provide more info/reproduction. Probably you seem to misunderstand the API.

[2017-08-07 16:31] #112 closed

[2017-08-07 18:38] ideity commented on #114
Hi!  I ended up simplifying considerably, and have something that's working beautifully for our needs.

[code]

and just adding `invalidateIntrinsicContentSize()` to the very end of `refreshData`

With this, I'm able to pack these into individual components, and then stack those inside a scroll view, and everything resizing as expected. We've got the height abiding by intrinsicContentSize.height,

[2017-08-09 09:35] ikyh commented on #110
Hello @kishikawakatsumi   I too face the same issue. I am working on TimeTable example. When I call spreadsheetview.reloadData(), the scrollView's position is shifted by 1 column and it starts showing the view from second column. (In terms of index positions - 2nd index). Please fix this issue. Thank you.

[2017-08-09 14:14] kishikawakatsumi commented on #116
I'm going to close this issue. Hopefully, my answer helps you. Feel free to reopen or create a new issue if you need to more help.

[2017-08-09 14:14] #116 closed

[2017-08-14 05:00] muratmusic commented on #110
Hello @kishikawakatsumi

Thank you very much. I cannot reproduce this bug at the moment after checkout fix-jump-on-reload branch.

Many thanks!

[2017-08-14 05:25] muratmusic commented on #110
It looks strange but I cannot scroll SpreadsheetView on my app after I checkout fix-jump-on-reload branch. But demo apps look great.

[2017-08-14 13:20] aelam opened #119 "Multi-sections support"
## Expected Behavior

Do you have  a plan to make it multi-sectioned? it would be awesome

## Actual Behavior

## Steps to Reproduce the Problem

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2017-08-14 13:31] kishikawakatsumi commented on #119
@aelam It's unclear for me. What multi-sections looks like? Do you know any other spreadsheet apps/services that have such features?

[2017-08-14 13:39] kishikawakatsumi commented on #110
@muratmusic Probably you've checked out WIP PR. Can you try the latest code? If you have any problems in the latest code, please open a new issue with reproduction. Thanks!

[2017-08-14 14:34] #110 closed

[2017-08-14 17:18] kishikawakatsumi commented on #114
@ideity Probably using `overlayView.contentSize` is much more simple and accurate instead? Also `SpreadsheetView.contentSize` returns `overlayView.contentSize`. So maybe you can write just `return contentSize`.

[2017-08-14 17:46] ideity commented on #114
@kishikawakatsumi, that's a good call. Before data, there's a default height of 50 coming from somewhere, where overlay reports height of 0, but I think that's probably more accurate. And then once there's data to fill the spreadsheet out, contentSize matches my calculations, so that's surely the way to go.

[2017-08-14 18:41] kishikawakatsumi commented on #91
@babramovitch Sorry for the late reply. I'm going to close this issue because it doesn't make sense to specify the values like `120.3910948` or `40.390852`. Passing correct value is programmer's responsibility, not library side.

Please let me know if I understand wrong.

[2017-08-14 18:41] #91 closed

[2017-08-14 20:14] babramovitch commented on #91
I don't think this should be closed for that reason.   My problem happened because I was dynamically calculating the width of the cells so X cells would fit on the screen at a time at the largest size possible.

If anyone else does this,  they'll encounter the same problem unless they take the rounded value of their calculations

[2017-08-14 20:23] kishikawakatsumi commented on #114
It’s actually same behavior with UIScrollView, UITanleView and UICollectionView, I guess. I’m closing this issue. If you have further questions, please feel free to reopen the issue. Thanks!

[2017-08-14 20:23] #114 closed

[2017-08-15 05:06] muratmusic opened #125 "Scrollable content size looks like calculated for the first time only"
## Expected Behavior

Scrollable content size should be recalculated every time after reloadData method is called

## Actual Behavior

If data source return 0 columns in numberOfColumns method for the first time then later you cannot scroll SpreadsheetView horizontally when data source return many columns in numberOfColumns method

Also if data source return many columns in numberOfColumns method

[2017-08-15 07:59] kishikawakatsumi commented on #91
@babramovitch So you meant that it should be rounded the numbers on the library side, right?

[2017-08-15 08:24] kishikawakatsumi commented on #125
@muratmusic Thank you very much for reporting! This is a regression in `v0.8.1`. It will be fixed very soon.

[2017-08-15 10:30] muratmusic commented on #125
@kishikawakatsumi Many thanks

[2017-08-15 12:30] #125 closed

[2017-08-15 13:54] aelam commented on #119
Hi Kishikawa San,

It looks like this

发自我的 iPhone

[2017-08-15 14:18] kishikawakatsumi commented on #119
@aelam Maybe you forgot to attach an image.

[2017-08-15 14:32] aelam commented on #119
![eb8089adbba6a5d32820333c5a638e18](https://user-images.githubusercontent.com/232337/29320384-910b16b0-8209-11e7-9b3c-c833e51dd8a4.jpg)

[2017-08-15 15:41] kishikawakatsumi commented on #119
@aelam Thank you. I don't have a plan to add such functionality at the moment. Because `SpreadsheetView` has no concept of the section, adding it makes the API too complicated. I will consider supporting it if many other people who want such feature.

The view you shared can be made easier using `UITableView` or `UICollectionView` than `SpreadsheetView`. I recommend you using `UITableView` or `UI

[2017-08-15 15:41] #119 closed

[2017-08-15 15:50] kishikawakatsumi commented on #89
I believe this was fixed by https://github.com/kishikawakatsumi/SpreadsheetView/pull/117. If you still in trouble, feel free reopen this issue or create a new issue. Thanks for reporting!

[2017-08-15 15:50] #89 closed

[2017-08-15 17:37] babramovitch commented on #91
@kishikawakatsumi not sure if rounding  someone's numbers to a whole number would be best,  I haven't fully played around with the problem, maybe it works with 1 or 2 decimals but no more?  In my case the division to determine the number made it many decimals.  Maybe 4.5 works fine though.

If even 1 decimal causes the problem though ,  making it accept an integer might be the better option?

It a

[2017-08-16 07:34] muratmusic opened #129 "Visible background color looks more dark than backgroundColor property"
## Expected Behavior
Visible background color should be equal to backgroundColor properties of SpreadsheetView and its cells and contentView's of cells

## Actual Behavior
Visible background color looks more dark than backgroundColor properties

## Steps to Reproduce the Problem

  1. Make test app with SpreadsheetView.
  2. Set backgroundColor properties of SpreadsheetView and its cells and conte

[2017-08-16 11:07] kishikawakatsumi commented on #129
@muratmusic I cannot reproduce the issue. It cannot be assumed that such an issue will happen. Could you please provide repro case and a screenshot?

[2017-08-16 14:07] kishikawakatsumi commented on #91
@babramovitch As using UIKit components, such behavior is expected. Since most devices have a Retina display, the `.5` point is equal to 1 pixel, so it is aligned to pixels (except iPhone 6 Plus and iPhone 6s Plus).  Because it is quite obvious that it blurs when specifying any other floating point, I don't think that it is worth to mention it in the README. Also, in this case, a programmer should

[2017-08-18 18:46] babramovitch commented on #91
@kishikawakatsumi  I think that explains why it's doing it well.  I do agree that arbitrarily rounding someones numbers probably isn't the best solution.  If not a mention in the readme, what do you think about outputting a warning with NSLog if the number isn't a whole number or .5?

I may be wrong, but I don't think it's unreasonable for people to think "I want 4.2 columns to show at once, so th

[2017-08-21 11:57] kishikawakatsumi commented on #129
It looks to me as if we've answered your question. I'm going to close this issue. Please feel absolutely free to open a new one if you have more questions.

[2017-08-21 11:57] #129 closed

[2017-08-21 12:42] muratmusic commented on #129
I'm sorry for delay. Ok, thanks.

[2017-08-23 07:18] kientux opened #133 "Check if spreadsheet is scrolled to bottom"
I'm using latest version of SpreadsheetView. I'm finding a way to implement load more feature so I want  to know if spreadsheet is scrolled to bottom. I set delegate to scrollView of spreadsheet and check for `contentOffset`, `contentSize` but I can't find any relevant values between the two.

When I scrolled to bottom:
[code]

Do you have any suggestion for this? Thanks.

[2017-08-23 08:53] Toyide opened #134 "I got little problem of connecting to the storyboard."
I can not create the SpreadSheetView on the storyboard, I know this is not an actually issue, Sorry about asking question here.  I'm new to Xcode, I tried many ways to connect the code to the storyboard views, literally stuck here for a whole day, any help will be really appreciated! Thanks in advance!
Following were what I do,

1. pod the newest version in the folder
2. run the project using the

[2017-08-23 16:34] jsm174 opened #135 "Left hand borders clipped when no intercell spacing and no grids."
I have a spreadsheet with no intercell spacing, and no grids.

For most of the cells, I have cell borders of 1 pixel solid.  For one cell, I want to make the left border thicker with 3 pixels.

Since the borders are centered at the edges of the cell, my left pixel is being clipped.

![screen shot 2017-08-23 at 12 27 32 pm](https://user-images.githubusercontent.com/1197137/29627077-d8615c5e-87fe-11

[2017-08-24 14:16] jsm174 commented on #135
I cheated by adding extra columns (one on the left and one on the right) that were only a few pixels wide.

I guess it would be interesting if there was an option to center, ie if the spreadsheetView was 600 pixels wide, and the cell widths totaled 500 pixels, it could be centered at 50.

[2017-08-27 04:36] Joe0708 commented on #133
[code]

This code can detect whether to scroll to the end, and I hope I can help you
But I found reloadData (). The data source has been modified, but the view has not changed. I don't know why

[2017-08-28 04:47] kientux commented on #133
@Joe0708 Thank you, that's worked! I don't have problem with reloadData() though.

[2017-08-28 04:48] #133 closed

[2017-09-03 21:47] CoolHandLuke88 commented on #134
I'm not sure about cocoapods as I am running Carthage and have not had chance to run it against cocoapods installation, however for carthage after installing SpreadsheetView. You will need to make sure your view is of class `SpreadsheetView` and module is also `SpreadsheetView` make sure `Inherit from Target` is unchecked. see screenshot below. Hope this helps you. I'll see about cocoapods a littl

[2017-09-04 11:08] Pr-Chen opened #136 "Is it Possible to support move indexPath to another indexPath, like UITableView move row with animation."

[2017-09-06 05:12] kishikawakatsumi commented on #136
Currently not. It's on my list. Probably `editor` branch https://github.com/kishikawakatsumi/SpreadsheetView/tree/editor helps you.

[2017-09-08 04:19] marioyohanes opened #137 "Crash in iOS 11 if binary built with base SDK iOS 10"
## Expected Behavior
No crash

## Actual Behavior
Crash in `SpreadsheetView+Layout.resetScrollViewFrame()`

## Steps to Reproduce the Problem

1. Archive project using Xcode 8.3 and test the build using TestFlight or any other distribution method
2. Run the build in iOS 11 (DP 6-10)
3. Open screen with SpreadsheetView and it will crash immediately with error logs:
[code]
## Specifications
  - Xcod

[2017-09-10 11:17] #137 closed

[2017-09-11 10:54] kishikawakatsumi commented on #137
@marioyohanes Thank you very much for reporting! It has been fixed at https://github.com/kishikawakatsumi/SpreadsheetView/releases/tag/v0.8.4. Can you please confirm to resolve the issue?

[2017-09-13 12:05] ikyh opened #140 "Get the value of row and column when cell is tapped"
Hello...! I am using Schedule App functionality. I have designed a custom gridCell to show JSON data in the rows and columns. In my case, I have to show first value in the gridCell, and remaining values in popUp View, when I tap on the cell.  I have made the view in the gridCell clickable, by using `UITapGestureRecognizer`.

In `cellForItemAt` I have called the `addGestureRecognizer(tapGesture)` t

[2017-09-14 02:58] #134 closed

[2017-09-14 20:58] CoolHandLuke88 commented on #140
Swift 3 implementation
see `SpreadsheetViewDelegate`
```func spreadsheetView(_ spreadsheetView: SpreadsheetView, didSelectItemAt indexPath: IndexPath)```

Also Note: indexPath has `row` and `column`.

[2017-09-15 05:29] ikyh commented on #140
@CoolHandLuke88    I have tried that. If I am calling tapGesture in `func spreadsheetView(_ spreadsheetView: SpreadsheetView, didSelectItemAt indexPath: IndexPath)`  then the pop-up view appears but I don't get the value of that cell. For (0th row and column) and (0th row and 1st column), I get `IndexOutOfBounds Exception`. I want to get values of only the grid and not rows and columns. I really d

[2017-09-15 18:58] TiagoMaiaL commented on #43
Same situation here. If you change your mind, I'd be willing to help with this feature. Meanwhile, I'm going to try writing the controller in swift and see what happens.

[2017-09-17 02:21] Faydee1220 commented on #137
I have the same problem, and the new version 0.8.4 seems work in my situation. Thanks marioyohanes and kishikawakatsumi very much.😀

[2017-09-17 02:25] kishikawakatsumi commented on #140
@ikyh Could you share the sample project that reproduces the issue? I'm unclear what happens and why you are using `UITapGestureRecognizer`.

[2017-09-19 20:50] dillan opened #144 "Variable Intercell Spacing"
Is there a clean way to support variable intercell spacing? For all of the column spacing in a spreadsheet are the same value of 10, except between columns 3 and 4 where the desired column spacing is 4. The design rationale is that the content in columns 3 and 4 are very closely related and should physically be closer together on screen.

I realize I could make a cell that combines the contents of

[2017-09-20 06:18] kishikawakatsumi commented on #144
@dillan Currently, vertical or horizontal inter-cell spacing is constant. I wanted to avoid complexity. I also thought that the use case was rare. Please let me know if you can share concrete use cases or screen images what you'd like to do. It will help change the API. Thank you for your suggestion.

[2017-09-20 07:40] ikyh commented on #140
@kishikawakatsumi  Hello. When I tap on gridCell I have to pass the value of that cell in a request parameter. Since I get response from local host, I have not written the apiRequest func in this project. I have used dummy values.

What I want is:
When user taps on the cell, a pop-up appears and the user sees the remaining values of the cell on pop-up.
When I tap for the first-time on the cell, I

[2017-09-20 18:42] Romores opened #145 "Command failed due to signal: Segmentation fault: 11"
I just updated Xcode to version 9. I tried converting my project from Swift 3 to 4, and SpreadsheetView gives me a red error:

_Command failed due to signal: Segmentation fault: 11_

I have no idea why it is and what that means. Is there someone else with the same problem?

  - Xcode version: 9
  - iOS version: iOS 10
  - Dependency manager + version: CocoaPods, 0.8.4

[2017-09-21 03:16] CoolHandLuke88 commented on #140
@ikyh Please see comments starting with `// NOTE:`

I added a example for adding gestures to the cell. You were adding the gesture on `didSelectItemAt`. This is why you were having to double tap the cell to get the popover to show. (wrong place to add the gesture). see Cell.swift ValueCell for example use of adding a gesture to the cell (gesture code is all commented out as you don't need to add a

[2017-09-21 03:18] CoolHandLuke88 commented on #140
@kishikawakatsumi Thank you for this awesome library!

[2017-09-21 06:52] ikyh commented on #140
@CoolHandLuke88  Thanks a lot for helping :)  I was getting IndexOutOfBounds Exception so I added the case for rows and columns in `didSelectItemAt`.  I have to show different values for every cell. When I tap on the cell, a request is sent to server, with request parameters as cell value (for eg. 23). Then I will get response for the respective cell and I will show those values in the pop-up.  So

[2017-09-21 06:59] CoolHandLuke88 commented on #140
That is correct your new values should be passed in the show popover if that is how you require it to be. You might want to have a loading indicator when making the api request on `didSelectItemAt` then show the popover on the response data being shown via your popup. ```showPopOver(with: rowValues)``` can show your values returned from the server. just make sure your data is formatted to be array

[2017-09-21 07:11] Romores commented on #145
I solved by simply not selecting the SpreadsheetView Pod in the migration tool.

But it looks like a new issue has come out. I'll create a topic for it.

[2017-09-21 07:23] Romores opened #146 "reloadData() in viewWillTransition doesn't work properly in Swift 4"
## Expected Behavior
In my project, I have a view controller with a SpreadsheetView that autoresizes to the new size when rotating the device.

## Actual Behavior
In Swift 3, the behaviour is right: the device rotates and the spreadsheet resizes accordingly.
In Swift 4, this is not valid anymore: now, when you rotate the device, the spreadsheet resizes to the PREVIOUS size instead of the new one:

[2017-09-21 07:43] Romores opened #147 "SIGABRT on simulator when showing a SpreadsheetView"
## Expected Behavior
Show the view controller containing a spreadsheet (in my case, you access the controllers via a tab bar)

## Actual Behavior
On the simulator, I get a generic SIGABRT error whenever I try to show a view controller containing a spreadsheet.

IT STILL WORKS ON AN ACTUAL DEVICE, the problem seems to only affect the simulator.

## Specifications

  - Xcode version: 9
  - iOS versi

[2017-09-21 08:28] Romores commented on #146
I just tried to update the library on the Swift 3 project, and the problem still occurs. So I guess it's not a problem of Swift 4, but a bug in the 0.8.4 version.

[2017-09-21 08:32] Romores commented on #147
Update: I tried to update the pod to the latest version, and now it seems to work in the simulator, too. I guess it was my fault for not trying before, sorry. The upgrade to Swift 4/iOS 11 really made me paranoid, since I use this library for my job and I really need it to work.

It now has the bug I mentioned in the previous thread, though.

[2017-09-21 08:38] kishikawakatsumi commented on #147
@Romores Could you please share a reproducible sample project?

[2017-09-21 08:47] Romores commented on #147
I don't think I can, unfortunately. But the issue was probably that I'm still using iOS 10 SDK to build the project (I've not yet upgraded to High Sierra). Then I saw the change log in the 0.8.4 version (_Fix to crash in iOS 11 if binary built with base SDK iOS 10. #138_) and that fixed the problem in the Swift 3 version of my project, too.

[2017-09-22 06:59] ikyh commented on #140
@CoolHandLuke88 Yup. Thanks

[2017-09-22 07:00] #140 closed

[2017-09-22 17:37] #145 closed

[2017-09-22 17:48] kishikawakatsumi commented on #147
@Romores You meant this issue was resolved in `v0.8.4`, right? Can I close this issue?

[2017-09-22 17:55] kishikawakatsumi commented on #146
@Romores I couldn't reproduce the issue, in Swift 3 and 4, on iOS 11. Could you please provide a reproducible sample project or more detailed code snippet?

[2017-09-22 20:22] Romores commented on #146
And here's the Xcode project.

[spreadsheet.zip](https://github.com/kishikawakatsumi/SpreadsheetView/files/1325735/spreadsheet.zip)

[2017-09-22 20:39] Romores commented on #147
Yes, I believe that was the case. As soon as I upgraded to the latest version it didn't crash anymore, so yes, you can close this issue.

[2017-09-22 22:15] Romores commented on #146
Maybe I managed to solve the issue by enveloping the reloadData() method inside the transition coordinator.

[code]
Like this, it seems to work again. It's still strange that it didn't need that before...

[2017-09-23 02:53] kishikawakatsumi commented on #147
@Romores Thank you for reporting!

[2017-09-23 02:53] #147 closed

[2017-09-23 03:02] kishikawakatsumi commented on #146
@Romores It seems working as expected. When `view*Will*Transition` invoked, `view.frame` still returns the frame before rotation. If you'd like to resize by rotation, it means that timing is too early. Enveloping the `reloadData()` method inside the transition coordinator seems right solution.

[2017-09-23 03:02] #146 closed

[2017-09-27 19:59] liltimtim opened #150 "Question: UITableView like image rendering for entire sheet content?"
This is not really an issue just a question.

Is it possible to render out the entire spreadsheet view like you can with a UITableView?

By this I mean currently I'm creating and extension of SpreadsheetView and doing this...
[code]
I do get an image however it is clipped off in the exact same spot as my device's screen and not the contentSize.  I have even dumped out the contentSize vs. the frame

[2017-09-28 02:34] kishikawakatsumi commented on #150
Probably you need to wait for the view to be rendered after changing the frame. The view has not been rendered with a new size yet just by changing the frame. @liltimtim

[2017-09-28 12:24] liltimtim commented on #150
@kishikawakatsumi I assumed based upon reading the documentation from apple that sheet.layer.render(in: context) would render everything.

Here's an excerpt but maybe I'm misunderstanding it.
[code]

Could you possibly provide an example of what you mean?  Much appreciated!

I'll also post an example of what's happening.  It seems that its clipping off some of the cell as well even though technica

[2017-09-28 18:41] harrypotter30022003 commented on #43
+1 please

[2017-09-30 01:09] kishikawakatsumi commented on #150
@liltimtim It seems intended behavior. SpreadsheetView only draws only the visible area for performance. The visible area is a rectangle with frame size from the coordinate of contentOffset. That is, to render all areas, first set the frame to the same size as `contentSize`, then run the run loop to execute the draw/layout. Then call `layer.render(in: context)` method.

If you'd like to have more

[2017-09-30 02:18] kishikawakatsumi commented on #135
@jsm174 It's intended behavior currently. You should set 3 point spacing, then set 3 point grid and 1 point grid. But I'm considering to change the behavior. Thank you for reporting!

[2017-09-30 02:18] #135 closed

[2017-10-02 12:33] jjingsea opened #152 "reloadRowsAtIndexPaths feature"
## Expected Behavior
Option to only reload non-frozen rows

## Actual Behavior
With reloadData() all rows will be reloaded. In frozen header row I have UISearchBar in each column for filtering purposes, which will cause resignFirstResponder after keypress. With each keypress I call reloadData(), but I would like to call something like reloadDataForNonFrozenRows()

## Specifications

  - Xcode vers

[2017-10-03 10:33] omn1990 opened #153 "Redesign for support Right to Left languages"
How can I locate 3 fixed columns in right side of screen in GanttChart (or there sheets type)?

[2017-10-04 13:15] bardonadam opened #154 "Froze bottom row"
Is there a way to froze bottom row as well? I needed this so I've added another view to my VC right below the spreadsheetView, but this brings many issues.

[2017-10-06 10:00] Romores opened #155 "SpreadsheetView delegate getting called before viewWillAppear"
I think I understood why I started having issues once installed the new version of the library. The delegate methods of SpreadsheetView are now called BEFORE the viewWillAppear method of the view controller. I'm pretty sure it wasn't like that in previous versions.

I noticed this because there are certain operations for the spreadsheet that I used to do in the viewWillAppear, that I had to move i

[2017-10-08 23:33] Rufy86 opened #156 "SpreadsheetView inside a expandable custom tableview cell"
## Expected Behavior
see all cell

## Actual Behavior
sometime see all cell, sometime see one row less

## Steps to Reproduce the Problem

  1. programmatically create a cell in which there are a label and an icon. the cell is expandable at touch of cell. under the label and the icon put the spreadsheet view
  2. populate the spreadsheet view with data stuff
  3. build and run and touch on cell to

[2017-10-09 06:04] sameerkupkar opened #157 "can we add Search Bar on SpreadsheetView?"
I am use SpreadsheetView pod, I design as my design requirement but i need add the Search bar on SpreadsheetView in Header section and search from table . can you help me please.

[2017-10-10 01:19] kishikawakatsumi commented on #154
@bardonadam Currently no.

[2017-10-10 01:23] kishikawakatsumi commented on #157
@sameerkupkar  Your question is too broad, it could be answered by an entire book, or has many valid answers. Please provide the code that you wrote.

[2017-10-10 01:24] kishikawakatsumi commented on #156
@Rufy86 Could you provide a reproducible sample project?

[2017-10-10 05:31] sameerkupkar commented on #157
Simply i want to add searchbar on header of spreadsheet can it possible?

[2017-10-10 10:24] Rufy86 commented on #156
@kishikawakatsumi  sure!

in this app I've 2 problem:
1) constraints
2) last row don't be shown every time
[spreadSheeTest.zip](https://github.com/kishikawakatsumi/SpreadsheetView/files/1371493/spreadSheeTest.zip)

[2017-10-10 10:33] Rufy86 commented on #156
to show the problem:
1)
![img_1737](https://user-images.githubusercontent.com/17876640/31382155-05682498-adb7-11e7-96a9-b39da02466e8.PNG)

2)
![img_1740](https://user-images.githubusercontent.com/17876640/31382182-1ab36c0e-adb7-11e7-9520-fc8ab09c5504.PNG)

3)
![img_1737 2](https://user-images.githubusercontent.com/17876640/31382189-20774a5c-adb7-11e7-82df-c80987cfe302.PNG)

4)
![img_1738](https://

[2017-10-10 14:57] Rufy86 commented on #156
I send you the last version of the cell in which there are all component that I want. SpreadsheetView included with the same problem.

the constraints problem still

`import UIKit
import SpreadsheetView

class ConjugAdjTableViewCell: UITableViewCell,SpreadsheetViewDelegate,SpreadsheetViewDataSource {
    var labelText:String = ""{
        didSet{
            if labelText != oldValue {

[2017-10-10 18:08] liltimtim commented on #150
@kishikawakatsumi thank you.  Yes I assumed it renders like a collection view or a table view in that it uses dequeuing technique to save memory.

However, I've modified a similar approach for a UIScrollView

[code]

I cannot provide the project as the code is not open sourced.  The above modification to the scroll view does indeed move the sheet however the PDF renders empty

![screen shot 2017-1

[2017-10-11 08:48] cemolcay commented on #157
You can simply add a search bar and spreadsheet view inside a vertical stack view or a custom container view and update the spreadsheet view's data as the search bar's text input changes.

[2017-10-11 14:49] nipun0505 commented on #58
Hi, I am still having this issue. Tried, pod repo update but still getting this error[!] Unable to find a specification for `SpreadsheetView`

[2017-10-11 20:25] kishikawakatsumi commented on #58
@nipun0505 There is a problem with your environment. Needs more info to investigate what is wrong.

[2017-10-12 06:46] nipun0505 commented on #58
Thanks for the quick reply. I am using cocoapods 0.39.0. Could that be an issue?
Here is the podfile:

source "https://github.com/CocoaPods/Old-Specs"
# Uncomment this line to define a global platform for your project
 platform :ios, '8.0'
# Uncomment this line if you're using Swift
 use_frameworks!

def available_pods
	pod 'DZNEmptyDataSet', '~> 1.8.1'
	pod 'GoogleMaps', '~> 2.1.1'
	pod 'Fabric',

[2017-10-12 07:32] kishikawakatsumi commented on #58
0.39 is too old. Is there any reason not to update?

[2017-10-12 07:50] kishikawakatsumi commented on #58
`source "https://github.com/CocoaPods/Old-Specs"` seems a cause of the issue.

[2017-10-12 09:51] kishikawakatsumi commented on #157
@sameerkupkar Yes. Because SpreadsheetView is a subclass of UIView.

[2017-10-12 09:51] #157 closed

[2017-10-12 09:54] sameerkupkar commented on #157
Any demo on that.still i am not getting answer.

[2017-10-13 02:00] kishikawakatsumi commented on #157
@sameerkupkar You should provide a code that you tried (that probably doesn't work though, it's OK). Because your question is too basic, ambiguous and broad. It takes too much time to teach all。

[2017-10-13 03:34] kishikawakatsumi commented on #150
@liltimtim As explained earlier, SpreadsheetView does not render and lay out views until needed for resource savings. that is why. In order to obtain the expected behavior, it is necessary to specify a `frame` of the same size as `contentSize` or to run run loop as appropriate.

[2017-10-13 03:34] #150 closed

[2017-10-13 03:35] kishikawakatsumi commented on #43
@hemangshah Contribution is always welcome.

[2017-10-13 12:24] liltimtim commented on #150
@kishikawakatsumi thank you for the explanation but I don't think you understood me at all.  I understand how dequeuing works as I explained earlier as well about tableviews.

I found a solution that works and you were not correct either with the frame suggestion.

The correct solution was to use the rendering context and shift that in sections as to maintain good memory usage and not render every

[2017-10-16 09:03] sameerkupkar commented on #157
i am trying app like thinkorSwim trading app so i want spreadsheet with search bar.

[2017-10-21 17:42] jst04004 opened #160 "Sorting by value not by text"
## Expected Behavior
Thank you for your work. I am new to Swift and this has helped a lot. I am following the example of the class example and am modifying some things. I have a column that I would like to display numerical values. Currently they are stored as strings. When I sort, it does so assuming it is text. That is it will sort [1, 5, 4, 10,20,] as [1, 10, 20,4,  5] based on the first digits

[2017-10-22 11:44] kishikawakatsumi commented on #160
@jst04004 There are several ways, one of which is to use `compare(_:options:range:locale:)` method rather than the operator comparison. In the `compare(_:options:range:locale:)` method, you can specify comparison options, then if you specify the `.numeric` option there, the comparison results are in numerical order instead of dictionary order.

[code]

[2017-10-22 11:44] #160 closed

[2017-10-22 11:49] jst04004 commented on #160
Thank you very much! I will try something like this.

[2017-10-30 17:30] juliusbtesh commented on #43
I been looking for an Objective-C solution for something like this as well

[2017-10-30 19:59] juliusbtesh commented on #43
I'm not even sure how to get this working as it is inside my objective-c project. I would really like to get this working asap.
Thanks

[2017-10-31 07:19] JonasDeichelmann opened #162 "Export/Share to pdf"
Hi,

## Expected Behavior

For example, if the User want to share the generated Spreadsheet, then it could be useful to have a share function which creates a PDF out of the Spreadsheet.

## Actual Behavior

There is actually no way, to export the Spreadsheet to PDF.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

##

Thanks for your work in this hel

[2017-11-01 06:56] kishikawakatsumi commented on #162
@JonasDeichelmann Could you tell us a more detailed use cases? I don't think PDF export function needs to be included in this library. Drawing a view as PDF can be achieved with a few code using Core Graphics or PDF Kit API.

[2017-11-01 07:48] JonasDeichelmann commented on #162
@kishikawakatsumi
Thanks for your comment.
Yes, of course. When I embed this helpful API in my App, then I want to offer the user a function to share the created Spreadsheet with there people, with the third-party share function from Apple.
It would be really convenient just to create a PDF out of the Spreadsheet, exactly how it appears on the screen. I guess this function would be used many times

[2017-11-01 08:27] kishikawakatsumi commented on #162
@JonasDeichelmann I think it is better to implement it in each app. I think that is more flexible.  Is there a reason why it is better to implement the function on the library side? Converting view to PDF is very easy using CoreGraphics as I mentioned.

[2017-11-01 08:35] kishikawakatsumi commented on #162
@JonasDeichelmann Also, if exporting PDF would be implemented on the library side, there are many specifications that I have to consider, such as setting of margins and page size. So the use cases I want to know is, what kind/appearance/format of PDF would you like to export?

[2017-11-03 06:18] vinod176singh opened #163 "Story board spread sheet view implementation"
## Expected Behavior
I want to implement spread sheet view using storyboard

## Actual Behavior
I am getting run time error bad execution.
I have followed all given instruction as well as checked out your demo.

## Specifications

  - Xcode version: 9.0
  - Swift Version: 4

[2017-11-03 06:19] #163 closed

[2017-11-08 00:22] kishikawakatsumi commented on #162
Closed due to inactivity. Feel free to reopen if you have further discussion.

[2017-11-08 00:22] #162 closed

[2017-11-09 19:06] SLACKWARE87 opened #164 "long tap cell and change backround all raw"
you can have the long tap event on the cell.
Also can you color the entire line at the touch of a cell?

[2017-11-10 01:21] kishikawakatsumi commented on #164
I'm not sure I understand what you're asking.
Could you elaborate the question? Also please include any code you tried.

[2017-11-10 08:50] SLACKWARE87 commented on #164
sorry,

1) I want to add another action on the cell, this action has to start when the user makes a prolonged touch on the cell

2) I want to change the color background of the line when I touch a cell

I touch the cell (i, j) and I want to color all the columns (i, j-1j, j + 1)

[2017-11-11 03:13] kishikawakatsumi commented on #164
@SLACKWARE87

1. You can probably use `UILongPressGestureRecognizer` for the cell.

2. Modify data source when you touch a cell to change color, then `reloadData()`.

[2017-11-12 05:30] kishikawakatsumi commented on #155
@Romores I cannot reproduce such behavior. There seems to be something different my setup and your setup. Could you share a reproducible project?

The following log is that I tried. All data source methods are called after `viewWillAppear`.

[code]

[2017-11-13 22:09] saormart opened #166 "Question, maybe an enhancement!"
@kishikawakatsumi , first of all, many thanks for this awesome library!
I would like to know if it's possible to add some how a feature that allow the user, let's say that the user click on any row, and that "selected" row change it's background color that looks like a selected row in a regular Grid...
Something like this picture:

![](https://www.aspsnippets.com/Handlers/DownloadFile.ashx?File=21

[2017-11-17 05:53] kishikawakatsumi commented on #164
Closing due to no response

[2017-11-17 05:53] #164 closed

[2017-11-17 05:54] kishikawakatsumi commented on #155
Closing due to no response. Feel free to reopen you have further discussions.

[2017-11-17 05:54] #155 closed

[2017-12-07 12:47] genaks commented on #140
I have a similar problem where I need to show a UIViewController on the tap of a cell but the UIViewController has to be presented as a popover. For this to happen, I will need to get the rect of the cell that was tapped on. I am doing this to get the rect of the cell -

                let rect = self.gradebookView.rectForItem(at: indexPath)
                let rectInView = self.gradebookView.con

[2017-12-07 12:54] genaks opened #167 "Present a popover on tapped cell"
## Expected Behavior

## Actual Behavior

While presenting a popover over a cell that was tapped on, doing this should give the rect of the tapped cell -
            let rect = self.gradebookView.rectForItem(at: indexPath)
            let rectInView = self.gradebookView.convert(rect, to: self.view)

but it seems the rect being obtained after converting it to the parent view's coordinate is not rig

[2017-12-08 05:13] genaks commented on #167
let rect = self.spreadsheetView.rectForItem(at: indexPath)
        let rectInView = self.spreadsheetView.scrollView.convert(rect, to: self.spreadsheetView`)

sourceView being the spreadsheetView and the sourceRect being the rectInView

[2017-12-14 05:25] tehscott commented on #152
I would also love such a feature (to reload a cell at a given index)!

[2017-12-14 10:39] Krishnaprasad66 opened #168 "Swift 4 Updation?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2017-12-14 16:06] kishikawakatsumi commented on #168
Already supported Swift 4. Do you have any problems?

[2017-12-14 16:25] Krishnaprasad66 commented on #168
Hi
Which version supported swift?
Could u give me pod file statement?

Thanks

[2017-12-15 05:48] Krishnaprasad66 commented on #168
Hi

Thanks for the reply
Could you give me the supported version to include in swift 4 project

On 14-Dec-2017 9:55 PM, "Krishna Prasad" <prasad@scientiaindia.com> wrote:

[2017-12-15 07:37] kishikawakatsumi commented on #168
@Krishnaprasad66 I don't know what you are asking. If your project uses Swift 4 (specified `SWIFT_VERSION = 4.0`), CocoaPods recognize it and set each pod's Swift versions to 4.0 automatically.

[2017-12-15 07:38] Krishnaprasad66 commented on #168
Okay..Fine..

On 15-Dec-2017 1:07 PM, "Kishikawa Katsumi" <notifications@github.com>
wrote:

[2017-12-15 07:48] #168 closed

[2017-12-22 03:53] starkite opened #169 "dynamic width for column"
Hi
How can i set dynamic width for column?

thanks

[2017-12-22 12:04] Rufy86 commented on #156
Is there no solution to this problem?

[2017-12-26 03:56] Pr-Chen opened #170 "How to zoom the content when use pinch gesture?"

[2017-12-26 04:27] kishikawakatsumi commented on #170
There is no built-in feature to zoom by pinch gesture. You can add yourself. Probably add pinch gesture recognizer, then change number of column and row in the handler.

[2018-01-04 06:02] zhj1214 opened #171 "是否有Object-C版本的代码"
是否有Object-C版本的代码

[2018-01-04 08:14] kishikawakatsumi commented on #171
Closing due to duplicate https://github.com/kishikawakatsumi/SpreadsheetView/issues/43

@zhj1214 You can use this library with Objective-C.

[2018-01-04 08:14] #171 closed

[2018-01-10 09:25] CoolHandLuke88 commented on #140
Hello @genaks, Is this still issue you need help resolving?

[2018-01-10 09:26] genaks commented on #140
@CoolHandLuke88 No Luke. I was able to work my around this. Thanks!

[2018-01-20 16:08] bogo96 opened #172 "Fatal error : Unexpectedly found nil while unwrapping an Optional value"
## Expected Behavior

i install the spreadsheet View on my project named schedule.

And I write the code like below in ViewController.swift.

and nothing in storyboard

also nothing in my simulator

**import UIKit
import SpreadsheetView

class ViewController: UIViewController,SpreadsheetViewDataSource{

    @IBOutlet weak var spreadsheetView: SpreadsheetView!

    override func viewDidLoad() {

[2018-01-21 08:58] bogo96 opened #173 "Append New Cell"
## Expected Behavior

when i tap the cell with empty string, make schedule cell into.

## Actual Behavior

error "Use of unresolved identifier 'cellForItemAt'"

## Steps to Reproduce the Problem

  1. add "addSubject(spreadsheetView, indexPath: indexPath, code: "cs204")" into delegate function
  2. make new function
 func addSubject(_ spreadsheet: SpreadsheetView, indexPath: IndexPath, code: Strin

[2018-01-21 09:47] kishikawakatsumi commented on #173
That's a syntax error. Probably it should be `spreadsheetView(spreadsheet, cellForItemAt: indexPath)`

[2018-01-21 09:47] #173 closed

[2018-01-21 09:50] kishikawakatsumi commented on #172
`spreadsheetView` seems `nil` obviously. `@IBOutlet` means it should be bound from Storyboard. You should place SpreadsheetView in storyboard and bind it to the variable. or you can instantiate the instance manually.

[2018-01-21 09:50] #172 closed

[2018-01-21 09:52] kishikawakatsumi commented on #169
Same as UITableView or UICollectionView. Change data source first, then `reloadData`.

[2018-01-21 09:52] #169 closed

[2018-01-24 02:16] starkite commented on #169
Hi
but i saw source code.
it's fixed.
func spreadsheetView(_ spreadsheetView: SpreadsheetView, widthForColumn column: Int) -> CGFloat {
            return 100
}

How can i set ?

Thanks

[2018-01-24 06:07] karosLi commented on #43
+1

[2018-01-25 08:24] karosLi commented on #43
I just change the source code to expose delegate func in Objective C.

This a not pull request, just for your reference.
https://github.com/karosLi/SpreadsheetViewObjectiveDemo

[2018-01-29 16:49] kishikawakatsumi commented on #169
@starkite Return value should be variable. Change return value first, then call `reloadData()`. Same as UITableView API.

[2018-01-30 06:55] keshiim opened #174 "Why add panGestureRecognizer to spreadsheetView"
[code]

`addGestureRecognizer($0.panGestureRecognizer)` Could you tell me why. sometime I received [Spreadsheetview _panGestureRecognizer]  selector can not found from xcode

[2018-01-30 07:02] keshiim commented on #174
I`m ready to convert your swift Project to OC version.  But I have met the difficulties mentioned above. Please help me with review it. Thanks

[2018-01-30 11:48] keshiim commented on #174
oh! I fixed it by adding blow code
[code]

[2018-01-30 11:48] #174 closed

[2018-01-30 14:59] saormart commented on #166
Hi there, any one knows the easy way to accomplish it ?
Thanks!

[2018-01-30 16:09] saormart opened #175 "Would be awesome if the SpreadsheetView cell have the option to add image"
It's just a possible feature to have, an option to add image to the SpreadsheetView cell!
Just like we do have "cell.label" to set the label if we do have an option like: "cell.image" to add a image in the cell background wold be awesome!
I'm using the SpreadsheetView as a Grid, and if we could add a image on specific cells, we could have let's say "Button" (Visual for click), we could have "Check

[2018-02-02 00:44] kishikawakatsumi commented on #175
@saormart You can do them with combinations of existing API, I guess.

[2018-02-02 00:54] nboyd-sportdx commented on #175
indeed is it a great framework

i used an attribute string with an image in it to put an image in a cell

using [bonmot](https://github.com/Raizlabs/BonMot). you can create an attribute string and then

cell.label.attributedText = myAttributeString

[2018-02-02 03:12] nboyd-sportdx opened #176 "scroll within subview issue"
## Expected Behavior

i have a view.  about 3/4 below, i added a subview.  the subview has a spreadsheet view on it.  i would like for it to scroll.

## Actual Behavior

does not scroll vertically

it scrolls horizontally if i drag on the first row only.   does not scroll horizontally if i touch anywhere except the first row

## Steps to Reproduce the Problem

  1.  create two view.  a parent view

[2018-02-02 08:54] niravdesai opened #177 "Command failed due to signal: Abort trap: 6"
## Expected Behavior
1.	While type-checking 'HeaderCell' at /Users/projectname/Cells.swift:12:1
2.	While type-checking declaration 0x7fe0ea12ec58 at  /Users/projectname/Cells.swift:13:5
3.	While type-checking expression at [ /Users/projectname/Cells.switt:13:17 - line:13:25] RangeText="UILabel()"
4.	While loading conformances for 'Cell' in module 'SpreadsheetView'
5.	While reading inherited confor

[2018-02-02 13:55] saormart commented on #175
Thanks guys I figure it out! :)

[2018-02-02 13:55] #175 closed

[2018-02-05 02:09] keshiim commented on #171
@zhj1214 https://github.com/keshiim/ZMJGanttChart 这里有OC版本

[2018-02-05 02:16] keshiim commented on #43
Hello，guys. I convert this awesome framework into Objective C project. If one of you interesting about it, this link https://github.com/keshiim/ZMJGanttChart maybe you wanted. ^_^

[2018-02-05 04:24] genaks commented on #170
@kishikawakatsumi Can you please explain a little more?

[2018-02-05 09:10] kishikawakatsumi commented on #177
Can you share reproducible sample project? @niravdesai

[2018-02-09 08:32] genaks opened #178 "Reloading spreadsheet"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2018-02-10 03:24] kishikawakatsumi commented on #177
Closing due to lack of information. Feel free to reopen if you can provide more information. Thanks.

[2018-02-10 03:24] #177 closed

[2018-02-10 03:25] kishikawakatsumi commented on #176
@nboyd-sportdx Can you share a reproducible sample project? I can guess what is going on, but the correct way to fix it is difficult.

[2018-02-16 13:54] akoskomuves opened #179 "Pull To Refresh UIRefreshControl not push the content while updating"
## Expected Behavior
While the scrollview refreshing the content should be stay under the UIRefreshControl view

## Actual Behavior
The content go back to the original place and the loading screen is on the content

## Specifications

  - Xcode version: 9.2
  - iOS version: iOS10
  - Dependency manager + version: CocoaPods

[2018-02-19 09:55] akoskomuves commented on #179
The SpreadSheetView has the public scrollView variable which is an `UIScrollView` and it has a built-in UIRefreshControl.

[code]

The Pull to Refresh feature works perfectly with it but the `UIRefreshControl` view not push out the content like this:

![dnidj](https://user-images.githubusercontent.com/6740477/36371748-5a777448-1563-11e8-8c3e-1f366a0d53eb.png)

Thank you for your help!

[2018-03-07 22:46] daviddelmonte opened #180 "How do I use real dates in your control"
## Expected Behavior
I wish your sample had real dates for column headings.

## Actual Behavior
I am trying to work up a data source from a core data object. The cells are reused, and I'm having trouble getting this to work. Hopefully, someone has already cracked this.

## Steps to Reproduce the Problem

  1.I'm using this code snip:

[code]

## Specifications

  - Xcode version: ? 9 b4
  - iOS ve

[2018-03-13 07:07] StevenStarz opened #181 "Can each cell fit to the content itself ?"
## Expected Behavior
I want to do something just like this, look at the column email the cell is fit to the content itself
![whatsapp image 2018-03-13 at 13 58 52](https://user-images.githubusercontent.com/22284886/37327136-a0fb6c06-26c7-11e8-9cd8-69fa83606750.jpeg)

## Actual Behavior
For now, all cell is same size, even the content is large than the cell

[2018-03-13 07:09] StevenStarz commented on #181
@kishikawakatsumi

[2018-03-13 07:12] kishikawakatsumi commented on #181
@StevenStarz It's expected by design. Since you know the maximum text width, you should return the appropriate column width from the data source yourself.

[2018-03-13 07:34] Vidhanshu09 opened #182 "how to fit the table to full screen"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2018-03-13 07:37] StevenStarz commented on #181
its hard to guess, because the data is randomly inputted from user. @kishikawakatsumi, its impossible right,  i need to define the max width of each row.

[2018-03-13 07:38] StevenStarz commented on #181
and i also need to define the max height of each column

[2018-03-13 08:11] kishikawakatsumi commented on #182
Closing due to lack of information

[2018-03-13 08:11] #182 closed

[2018-03-13 09:00] Vidhanshu09 opened #183 "How to adjust table to full screen"
## Expected Behavior
I need that if i have only two headers then table should automatically adjust its width and fits to full screen.

## Actual Behavior
but the table width is fix

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: Xcode 9.2
  - iOS version: ios 11
  - Dependency manager + version: ?

[2018-03-13 09:00] kishikawakatsumi commented on #181
@StevenStarz The only difference is whether it would be implemented on the library side or a programmer side. I have a plan to add such feature, but not yet. Thanks for the suggestion!

[2018-03-13 09:00] #181 closed

[2018-03-13 09:01] Vidhanshu09 commented on #183
Swift 4

[2018-03-13 09:04] kishikawakatsumi commented on #183
I cannot understand what you meant. Please explain more specific, like using a screenshot, example code or diagram. @Vidhanshu09

[2018-03-13 09:09] Vidhanshu09 commented on #183
![simulator screen shot - ipad air - 2018-03-13 at 14 37 18](https://user-images.githubusercontent.com/37325439/37332267-2eb0bf70-26cc-11e8-83e0-c116d355a87a.png)
I want this attached screen like below attached screen which fits to whole screen
![simulator screen shot - ipad air - 2018-03-13 at 14 37 31](https://user-images.githubusercontent.com/37325439/37332318-59389c90-26cc-11e8-9401-53edca55c6

[2018-03-13 09:17] kishikawakatsumi commented on #183
@Vidhanshu09 You seem to be misconfiguring the size of the view. I recommend you learn about Autolayout.

[2018-03-13 09:22] Vidhanshu09 commented on #183
i don't need any recommendation from you, i know what Autolayout is. i don't think you have any idea that how to adjust it in whole screen so i am closing it.

[2018-03-13 15:19] daviddelmonte commented on #180
Hi. I know this is dumb, but I just cannot figure out how to change your sample that prints` cell.label.text = String(format: "%02d Apr", indexPath.column - 2)` to show a real date. I have everything else working. Any help would be really appreciated. I can reimburse by sending a [virtual beer..](https://itunes.apple.com/us/app/ibeer-drink-from-your-phone/id475905823?mt=8)

[2018-03-13 16:13] daviddelmonte commented on #180
I got it! Apologies for taking space...

[2018-03-13 16:13] #180 closed

[2018-03-21 09:04] AnthoPakPak commented on #183
I am also interested in this feature, which has nothing to do with AutoLayout. On the first screenshot of @Vidhanshu09, the white space on the right is not filled by cells but it's still the spreadsheet ! On the second screen, he tried to guess the best size of his cells in order to fill the white space. But it's hard to guess the correct size for every screen, specially if the columns have differ

[2018-03-21 13:08] trond-eskeland commented on #183
It would be nice to have a built in support for this. If anyone is interested here is the code I’m using in one of my project. Calculating the column sizes to match max row text width size and fit screen size if it is too small.

[code]

[2018-03-21 16:33] kishikawakatsumi commented on #183
@AnthoPakPak Can you please share how to reproduce the problem. It looks like a just misconfiguration to me, but is not it?

[2018-03-25 09:18] kishikawakatsumi commented on #183
Closing due to lack of information.

[2018-03-25 09:18] #183 closed

[2018-03-26 07:37] AnthoPakPak commented on #183
@kishikawakatsumi I don't understand why you say it's a misconfiguration. As there is a delegate to define columns width, it appears evident that the table will not fit to the screen width. If there was any AutomaticWidth, it will be possible, but I don't think it's the case for the moment.
If I return 10 in column width delegate, and having 4 columns, you're agree that it will not take all width

[2018-03-29 21:35] zak123 opened #184 "Visual glitch when animating frame changes"
## Expected Behavior
Frame of spreadsheet view changes with cells not animating in oddly

## Actual Behavior
It's a bit easier to explain with a video, heres a youtube link:

https://www.youtube.com/watch?v=8QvWAdlWl5c&feature=youtu.be

when going from small->big it is calling cellForItemAt, and i'm assuming its doing it animated? Maybe there is a way to keep it from animating, but I can't find it

[2018-03-29 21:44] #184 closed

[2018-04-06 06:54] Vidhanshu09 opened #185 "How to show selection on did select function"
## Expected Behavior
Show selection on didselect func

## Actual Behavior
Not showing any selection

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: 9
  - iOS version: 11
  - Dependency manager + version: ?

[2018-04-08 02:05] xgoo opened #186 "How can I scroll in only one direction?"
Why always scroll horizontally and vertically at the same time? How can I scroll in only one direction? Most of the time just want to scroll in one direction.

[2018-04-08 03:25] #186 closed

[2018-04-08 03:26] xgoo commented on #186
It's my own problem..

[2018-04-10 14:23] prikhodkoalexey opened #188 "Change font size depending on system font size"
## Expected Behavior
Font size changes if system font size changes.

## Actual Behavior
Font size stays the same.

## Steps to Reproduce the Problem

  1. Launch ClassData example project.
  1. Go to system preferences on the simulator device and change system font size.
  1. Go back to your application and see that font size hasn't changed.

## Specifications

  - Xcode version: 9.3
  - iOS versi

[2018-04-10 14:37] kishikawakatsumi commented on #188
ClassData project is sample project focused explaining library usage. I do not want to write unrelated code like dynamic type. Also, unlike UITableView, SpreadsheetView doesn't have any built-in text label. So, if you'd like to add dynamic type support with this library, you need to implement it yourself.

[2018-04-10 14:37] #188 closed

[2018-04-10 14:40] kishikawakatsumi commented on #185
@Vidhanshu09 Same as UICollectionView API. Set `selectedBackgroundView` your custom cell. `selectedBackgroundView` is hidden normally, when you select a cell, then `selectedBackgroundView` is shown.

[2018-04-10 14:40] #185 closed

[2018-04-17 16:09] lapoPaolacci opened #189 "Can I froze last cell?"
Hi thanks a lot for the fantastic lib I have a request for you, can i froze last cell?

[2018-04-17 16:59] lapoPaolacci commented on #186
how you have solved?

[2018-04-18 08:39] lapoPaolacci commented on #189
sorr i've read now issue #154 if you implement is terrific!! :D

[2018-04-18 08:39] #189 closed

[2018-04-26 06:54] wzjscmr commented on #186
spreadView.isDirectionalLockEnabled = true

[2018-04-26 20:37] jung2929 commented on #178
There is also the same problem as reloading from viewWillAppear.
However, sometimes this does not appear to be a problem.
Has anyone solved the problem?

[2018-05-29 18:05] saormart opened #190 "It's more a question"
Hi there, first thanks for this great framework!
I'm wonder if there's any way to "autosize" the columns width!
If there's any way to do it, I'll appreciate !
Thanks!

[2018-05-31 09:21] bayfatih2000 opened #191 "How can I remove the gaps between spreadsheet and screen"
## Expected Behavior
I want to remove the gaps. Do you have any suggestion?

## Actual Behavior
![image1](https://user-images.githubusercontent.com/2362582/40773920-f254aa66-64cc-11e8-850c-5545250727cf.png)

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: 9.4
  - iOS version: 11.3.1
  - Dependency manager + version: ?

[2018-05-31 10:03] kishikawakatsumi commented on #191
@bayfatih2000 You probably misconfigured it. Can you please share a sample project which reproduces the issue?

[2018-05-31 10:04] kishikawakatsumi commented on #190
@saormart This library doesn't provide an "autosize" feature currently. You should calculate it yourself.

[2018-05-31 10:04] #190 closed

[2018-05-31 10:55] bayfatih2000 commented on #191
The image occurs while scrolling. Normally, it has no problem. I want to finish the scroll when come to first/last row/column. Is it possible?

[2018-05-31 12:01] xiaoruiling commented on #191
@bayfatih2000 :  xxx.bounds = false

[2018-05-31 12:33] bayfatih2000 commented on #191
"bounds" waits CGRect type. How can I set boolean value?

[2018-05-31 12:36] bayfatih2000 commented on #191
Ops. I understand now. bounces must be false. Thank you very much.

[2018-05-31 12:36] #191 closed

[2018-06-06 13:03] xiaoruiling opened #192 "Can't draw a line in this Cell"
## Expected Behavior
I want to draw a line on the cell, but it doesn't show

`
override func draw(_ rect: CGRect) {

    guard let context = UIGraphicsGetCurrentContext() else { return }

    let path = CGMutablePath()

    path.move(to: CGPoint(x:10, y:0))

    path.addLine(to:CGPoint(x:10, y:56))

    context.addPath(path)

    context.setLineWidth(10)

    context.setStrokeColor(UIColor.red.cgC

[2018-06-14 10:29] xiaoruiling commented on #192
@kishikawakatsumi

[2018-06-14 12:34] kishikawakatsumi commented on #192
@xiaoruiling Can you share a sample project that reproduces the issue?

[2018-06-15 02:19] xiaoruiling commented on #192
`

     class HourCell: Cell {
        let label = UILabel()

       override init(frame: CGRect) {
        super.init(frame: frame)
        label.frame = bounds

        label.autoresizingMask = [.flexibleWidth, .flexibleHeight]
        label.backgroundColor = UIColor.green
        label.font = UIFont.systemFont(ofSize: 12)
        label.textColor = .white
        label.textAlignment = .center

[2018-06-20 14:05] Cemoo commented on #170
@genaks Hi

You can add pinch gesture recognizer and add it to spreadSheetView
then you can scale spreadSheadView like below:

@objc func zoom(sender:UIPinchGestureRecognizer) {
        if sender.state == .began || sender.state == .changed {
            self.spreadSheetView.transform = CGAffineTransform(scaleX: sender.scale, y: sender.scale)
        } else {
            if sender.scale < 1.0 {

[2018-06-21 04:02] devaileen opened #193 "Height of cell depends on the content"
Is there a way we dynamically change the height of cell depending on the contents inside it?

For example the data after **Extracurricular Activity** after **Drama Club** just as what you see in the photo
![simulator screen shot - iphone 5s - 2018-06-21 at 11 59 40](https://user-images.githubusercontent.com/20310750/41697281-9dc9423e-754a-11e8-8cb5-d9c9fabd65c1.png)

Can I expand the height of tha

[2018-06-22 19:17] WiseNN opened #194 "How to get Examples Working"
I need helping running the provided example projects.

I am getting this error

[code]

[2018-06-22 19:21] WiseNN commented on #194
did not clone properly

[2018-06-23 07:33] amitabhis2903 commented on #146
Is spreadsheet support UIRefresh control like table view

[2018-06-26 17:54] robertomoo opened #195 "Button"
## Expected Behavior
I want to put a button no a cell

## Actual Behavior
My problem is that I can’t even show the button, wanna know if it’s possible to do and how is the better way to achieve

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: 9.4.1
  - iOS version: 11.3
  - Dependency manager + version: Cocoapods

[2018-06-26 17:55] kishikawakatsumi commented on #195
Please share a reproducible sample project.

[2018-06-26 17:56] kishikawakatsumi commented on #193
@devaileen @saormart Not yet supported self-sizing cell. You should calculate/assume maximum width/height each cells.

[2018-06-26 18:05] robertomoo commented on #195
this is the code I wrote to make a cell

`class ButtonCell: Cell {
    let label = UILabel()
    override init(frame: CGRect) {
        super.init(frame: frame)
        label.frame = bounds
        label.autoresizingMask = [.flexibleWidth, .flexibleHeight]
        label.font = UIFont.boldSystemFont(ofSize: 12)
        label.textAlignment = .justified
        label.textColor = .black
        conten

[2018-06-26 18:18] saormart commented on #195
@robertomoo, I had the same situation and also I wanted to add an image into a cell, so you can add a image of a desired button, and capture the selected column index...
Here is the code I used to add image (in my case was a image of "Delete Button")...

`func spreadsheetView(_ spreadsheetView: SpreadsheetView, cellForItemAt indexPath: IndexPath) -> Cell? {

	//Change the "case 0" to any column in

[2018-06-27 02:46] kishikawakatsumi commented on #195
Please provide executable sample project that reproduces the issue. I don't have enough time to debug your code.

[2018-06-27 04:30] robertomoo commented on #195
here is an example of my project I can replicate the help that bring me @saormart, but I'm a little confused about the button
[Calendario.zip](https://github.com/kishikawakatsumi/SpreadsheetView/files/2139762/Calendario.zip)

[2018-07-10 04:08] robertomoo commented on #195
I solve my problem so far, but I get other issue about how the cells realoaddata, cause when I put an attribute to the button the refresh or something make the buttons get filled by the attribute randomly, I'm attaching the newest version. Hope can help me.
[Calendario.zip](https://github.com/kishikawakatsumi/SpreadsheetView/files/2178779/Calendario.zip)

[2018-07-13 03:21] #192 closed

[2018-07-19 09:34] tungnguyentp opened #196 "Issues about Get All Data"
How to get all data ? Thanks Pro!

[2018-07-20 03:23] #196 closed

[2018-07-20 11:29] Terens777 opened #197 "How to load cells from XIB correctly"

[2018-07-20 12:42] kishikawakatsumi commented on #197
@Terens777 Can you please describe your problem more specific? What error do you have?
Doesn't my Timetable example https://github.com/kishikawakatsumi/SpreadsheetView/tree/master/Examples/Timetable/Sources help you?

[2018-07-24 06:18] hamzashahid91 commented on #193
@kishikawakatsumi how can i calculate and set height for each cell dynamically based on its content can you provide an example please

[2018-08-06 21:35] saormart commented on #193
@hamzashahid91 good question!

[2018-08-08 06:01] huforrest opened #198 "Keyboard sliding up and cover UITextField/UITextView"
In my spreadsheet view, I have many cells that contain textfield. And when keyboard slides up, some UITextField/UITextView are covered. And I have tried to solve this problem by adding the following code but failed. Here is the code:

    spreadsheetView.contentInset.bottom = keyboardHeight
    spreadsheetView.scrollIndicatorInsets.bottom = keyboardHeight

And my question is: Are the contentInset

[2018-08-08 13:07] saormart commented on #198
@huforrest, I had a similar problem, and I fixed with: [IQKeyboardManager](https://github.com/hackiftekhar/IQKeyboardManager)
Hope this help you!

[2018-08-09 01:05] huforrest commented on #198
@saormart Thank you very much. IQKeyboardManager solved my problem.

[2018-08-09 13:51] saormart commented on #198
@huforrest  no problem buddy! Glad it worked for you!

[2018-08-17 16:04] spydercapriani opened #199 "Export to PDF"
## Enhancement
Provide functionality to allow spreadsheet view to be exported to PDF.

### Use Cases
- Printing
- Saving
- Sharing

[2018-08-17 16:05] spydercapriani commented on #199
Not an issue but suggestion / enhancement. I will attempt to enable this but wanted to bring this up in case it was already an available option.

[2018-08-25 16:09] muga87 opened #200 "application is crashed"
## Expected Behavior
It should work.

## Actual Behavior
It not running, even in sample app to getting log message as "Unknown class SpreadsheetView in Interface Builder file."

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: 9.4
  - iOS version: 11.3

[2018-08-25 18:48] kishikawakatsumi commented on #200
It doesn't reproduce in my env. Please make sure you didn't slip clear the module text field.

<img width="256" alt="screen shot 2018-08-26 at 3 44 35" src="https://user-images.githubusercontent.com/40610/44621527-87401800-a8e2-11e8-978e-b50f55507564.png">

[2018-08-25 18:48] #200 closed

[2018-08-25 18:48] #198 closed

[2018-08-26 16:01] muga87 commented on #200
Yes thank you, after that i realized. Now its working fine,

On Sun, Aug 26, 2018 at 12:18 AM Kishikawa Katsumi <notifications@github.com>
wrote:

--
Thanks
Ganesh

[2018-08-28 23:19] arzath opened #201 "Loading Time"
Hi, I have noticed the  SpreadsheetView is taking significant time to display.
That is, the sheet won't be displayed until the entire sheet (of 50 * 13+) is finished loading but that takes 8+ seconds.

Is this normal?
If so, how do you tackle the problem? i.e. display partial data while loading (would appreciate if share the how-to)?

## Expected Behavior
Loading 50 rows x 13 columns sheet. Expect

[2018-08-29 12:46] kishikawakatsumi commented on #201
Please provide a reproducible sample project. The issue depends on what you wrote. @arzath

[2018-08-29 12:55] saormart commented on #201
@arzath, I'm using this great framework and I have a screen where I'm loading over 4000 rows and 18 columns in a second....
As @kishikawakatsumi says, the issue depends on what you wrote!

[2018-08-30 23:43] arzath commented on #201
@saormart Thanks for the tip, it saved me from wasting time on the wrong direction.
@kishikawakatsumi Thanks for the response, however I'm not at the liberty to provide what you ask for. I do have the the Instruments profile that indicates my call to SpreadsheetView.layoutSubview() is being called in upwards of tens of thousands times, and LayoutEngine.layout has the line

being called 2000+ times

[2018-09-04 16:32] arzath commented on #201
@kishikawakatsumi This can be closed, thanks for your attention.

[2018-09-06 11:44] DITIOF commented on #195
@saormart Can you guide me how to complete "delete button" function and how to catch its event to remove a row (not a cell) from SpreadSheetView . Thanks in advance

[2018-09-07 12:17] #195 closed

[2018-09-07 12:18] #43 closed

[2018-09-21 18:56] saormart opened #203 "Swift 4.2 (Xcode 10) compatibility"
Would be great if some one could make a PR to upgrade this great framework for Swift 4.2 (Xcode 10).
Thanks!

[2018-09-23 13:30] kishikawakatsumi commented on #203
This project already supported Xcode 10, no need additional modification. @saormart

[2018-09-23 13:30] #203 closed

[2018-09-30 01:37] gy37 commented on #156
@Rufy86 have you solved it, please help me

[2018-09-30 07:37] gy37 commented on #156
before setup spreadsheetview in cell, set cell's bounds first, then set spreadsheetview.frame explicitly.
[code]

[2018-10-12 10:30] Pr-Chen opened #208 "When do you support swift4.2?"
When do you support swift4.2?

[2018-10-12 13:09] saormart commented on #208
same here !

[2018-10-13 05:21] kishikawakatsumi commented on #208
@Pr-Chen @saormart Soon. But you can use this library with your Swift 4.2 project as-is.

[2018-10-13 05:21] #208 closed

[2018-11-16 06:41] hhoangna opened #209 "Prase array of data into table"
I want to make a periodic table using your framework. I have a problem.
I have an array of elements. Each element have column, row position. But i dont know how to prase data in Speadsheetview with my data like this. Can someone give me a solution?

[2018-11-23 01:54] brendand commented on #119
I would vote for section headers as well. Just like in a UITableView sections, but with multiple columns.

In the Mac version of my app I have frozen columns and sections in the table grid control. It would be great to be able to offer these things in the iOS version too. Right now I'm using MDSpreadView for a grid control on iOS, but it doesn't support frozen columns like your control does.

<img

[2018-12-03 10:15] hangocanh2303 commented on #133
where you can place this function?

[2018-12-19 23:42] lucasholzhaeuer commented on #193
I got around it by making a label for each column in the row, figuring out its size and then determining the maximum height needed. I'm using headers, thus row 0 has a standard value. Its a little data intensive, but works.

  func spreadsheetView(_ spreadsheetView: SpreadsheetView, heightForRow row: Int) -> CGFloat {
    if row == 0 {
      return 40
    }
    var maxHeight : CGFloat = 40.0
    f

[2018-12-27 06:16] Faydee1220 commented on #208
Still need to change Swift Language Version to Swift 4 manually to build.

[2019-01-05 07:35] vinhnd-ios opened #210 "How to frozen any row"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2019-01-05 09:17] kishikawakatsumi commented on #210
It supports only first n rows frozen. You cannot freeze any rows.

[2019-01-05 09:17] #210 closed

[2019-01-05 09:17] #209 closed

[2019-02-14 02:48] zeldarose commented on #170
@[Cemoo](/Cemoo) Hi
I followed your codes and had an issue. I couldn't scroll to top or bottom after zooming.
Can you take a look?

[2019-02-15 10:06] genaks commented on #170
Works fine for me. Can I somehow have a look at your code?

[2019-02-15 10:11] zeldarose commented on #170
@IBAction func pinchRecognized(_ sender: UIPinchGestureRecognizer) {
        if sender.state == .began || sender.state == .changed {
            if sender.scale <= MAX_ZOOM_SCALE {
                self.transform = CGAffineTransform(scaleX: sender.scale, y: sender.scale)
            }
        } else {
            if sender.scale < 1.0 {
                self.transform = CGAffineTransform.identity

[2019-03-18 10:09] hamzashahid91 commented on #153
@emranovin did you achieved RTL on the chart?

[2019-03-25 15:51] iosdec opened #212 "Allow cell overlap (clipsToBounds)"
## Expected Behavior
I've created a time spreadsheet, the cells I'm using for the top row have labels at the start of the view with frames like so: x: -30, y: 0, width: 60, height: 20. The problem is, the labels get cut off which looks like so.
![IMG_72FCFF10F723-1](https://user-images.githubusercontent.com/8156085/54934034-19160f00-4f1e-11e9-83d8-f1c8d4626a2f.jpeg)

For some reason, when you scro

[2019-03-28 13:56] emranovin commented on #153
I'm afraid not. I've implement my own custom view.

[2019-06-10 01:14] nilhy commented on #208
Swift4.2 not support !

[2019-07-10 17:47] saormart commented on #199
@spydercapriani you also may take a look into this one: https://github.com/flexicious/iOSDataGrid
Now it's free, but it's coded on Objective C!

[2019-07-10 17:52] saormart commented on #193
@devaileen you may check this out: [iOSDataGrid](https://github.com/flexicious/iOSDataGrid)
Note: The project was written in Objective C!

[2019-07-10 18:08] saormart commented on #154
@bardonadam you may check this out: [iOSDataGrid](https://github.com/flexicious/iOSDataGrid)
Note: The project was written in Objective C!

[2019-07-10 18:08] saormart commented on #166
Just found a possible option: [iOSDataGrid](https://github.com/flexicious/iOSDataGrid)
Note: The project was written in Objective C!

[2019-08-12 11:14] artemkalinovsky opened #221 "Upgrade Swift to latest version"
## Expected Behavior

Successful framework compilation

## Actual Behavior

Skipped installing SpreadsheetView.framework binary due to the error:
	"Incompatible Swift version - framework was built with 3.1 (swiftlang-802.0.53 clang-802.0.42) and the local version is 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5)."

## Steps to Reproduce the Problem

carthage update --platform iOS

## Specificatio

[2019-08-16 10:08] xiaohuiCoding opened #222 "貌似OC项目调用不了啊，请问怎么兼容？"
- (SpreadsheetView *)spreadsheetView {
    if (!_spreadsheetView) {
        _spreadsheetView = [[SpreadsheetView alloc] initWithFrame:CGRectZero];
        _spreadsheetView.delegate = self.presenter;(X)
    }
    return _spreadsheetView;
}

叉那一行报错，报错提示："Property 'delegate' not found on object of type 'SpreadsheetView *"

[2019-08-16 12:07] kishikawakatsumi commented on #222
SpreadsheetView cannot be used from Objective-C directly. You should wrap the APIs in Swift that is designed to be accessed by Objective-C. Then you can use the library. @xiaohuiCoding

[2019-09-04 13:43] leedsalex commented on #221
@kishikawakatsumi Are you still maintaining this framework? It would be appreciated if you could update the framework to the latest Swift version.

[2019-09-05 02:49] kishikawakatsumi commented on #221
Will do 🙏

[2019-09-13 12:53] PGandhi30 opened #223 "Gradient layer apply to cell"
## Expected Behavior
Cell background with gradient color layer.

## Actual Behavior
Cell background frame is 0.0 so it displays a white background. In normal UITableview willDisplaycell method set gradient working perfectly in a cell. How to apply gradient layer for cell in your repository?

[2019-09-16 06:49] Iammahiiii opened #224 "Unable to determine Swift version for the following pods"
[##] Expected Behavior
Install using cocoapods

## Actual Behavior
Not able to install.

[!] Unable to determine Swift version for the following pods:
- `SpreadsheetView` does not specify a Swift version and none of the targets (`mars`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate

[2019-09-16 07:03] Iammahiiii commented on #224
Is SpreadsheetView compatible with Objective C?

[2019-09-16 07:03] Iammahiiii commented on #224
Is SpreadsheetView compatible with Objective C?

[2019-09-16 08:35] Iammahiiii commented on #224
Also, when installed its not compiling.. has errors.

[2019-09-16 08:48] Iammahiiii commented on #224
Also the SDK is very old. Examples are not compatible with latest Swift versions I think.

[2019-10-03 14:24] saormart commented on #224
If you're using it with pods, you may go on your pods -> SpreadsheetView ->Build Settings -> Swift Language Version, and set it to "Swift 4" where it's compatible!
I'm able to use it with swift 5 Xcode 10.3

[2019-10-08 20:38] saormart commented on #221
Hope it will be compatible with iOS13 / Xcode 11 ... They changed lots of stuff ...

[2019-10-16 15:38] leedsalex commented on #221
@kishikawakatsumi Any update or ETA on this? There are many open PRs that might be helpful.

[2019-10-16 15:40] saormart commented on #221
You also may check this out: [iOSDataGrid](https://github.com/flexicious/iOSDataGrid)

[2019-11-06 23:48] kkieffer commented on #221
@kishikawakatsumi I hope this is on your radar. Would love to get an up to date version that compiles under Swift 5. Very much appreciate this project, it's just what I needed. I added my own [extensions](https://github.com/kkieffer/SingleRowSortableSpreadSheetView) too to extend functionality.

[2020-01-01 12:14] nb5053 opened #227 "Can i set starting columns ?"
Example : I Have [1,2,3,4,5,6,7,8,9,10] columns and user is load sheet at that time stating columns is 4 and if user what to see [1,2,3] columns so he can.

[2020-01-01 12:32] #227 closed

[2020-01-29 14:40] wojczitsu commented on #221
any updates on this?

[2020-01-30 11:29] artemkalinovsky commented on #221
@wojczitsu I guess nope:( Maybe, @kishikawakatsumi is busy on other very important stuff:(
But you can make your own fork or use any fork with swift 5 upgrade from existing pull requests.

[2020-01-31 03:04] micahrowell opened #229 "Cells becoming empty after scrolling"
## Expected Behavior
Cells should display the same thing after being set in cellForRowAt method

## Actual Behavior
After scrolling and the cell goes off the screen, some cells will become empty. If you scroll back and forth enough times, all cells will become empty.

## Steps to Reproduce the Problem

  1. Setup cells with labels, views, etc.
  2. Scroll left, right, up, down, whichever ways you

[2020-01-31 03:07] micahrowell commented on #229
![IMG_98538D7D9EAF-1](https://user-images.githubusercontent.com/13239418/73509377-84353b00-43a4-11ea-8705-f59dd9fee5a1.jpeg)

[2020-01-31 03:08] micahrowell commented on #229
`//
//  UserSkillsVC.swift
//  PPGHero
//
//  Created by Micah Rowell on 1/9/20.
//  Copyright © 2020 Micah Rowell. All rights reserved.
//

import UIKit
import Firebase
import SpreadsheetView

class UserClassVC: UIViewController, UITableViewDataSource, UITableViewDelegate, SpreadsheetViewDataSource, SpreadsheetViewDelegate {

    @IBOutlet weak var classmatesTable: UITableView!
    @IBOutlet weak

[2020-01-31 03:12] micahrowell commented on #229
`import UIKit
import Firebase
import SpreadsheetView

class UserClassVC: UIViewController, UITableViewDataSource, UITableViewDelegate, SpreadsheetViewDataSource, SpreadsheetViewDelegate {

    @IBOutlet weak var classmatesTable: UITableView!
    @IBOutlet weak var spreadsheet: SpreadsheetView!

    private var className: String = ""
    private var classmates: [Student] = []
    private var classm

[2020-02-13 11:03] arpitjain03 commented on #199
`func createPdfFromView()
    {
        // Set frame as per content of view

        self.spreadsheetView.frame = CGRect(x: 0, y: 0, width: self.spreadsheetView.contentSize.width, height: self.spreadsheetView.contentSize.height)
        let pdfPageBounds: CGRect = self.spreadsheetView.frame
        let pdfData: NSMutableData = NSMutableData()

        // Rendering spreadsheetView
        UIGraphic

[2020-02-14 23:08] micahrowell commented on #229
Turns out I was making a super noobie mistake. I didn't realize that when setting certain attributes that they would stay the same across different cells once set and that you need to reset absolutely everything. This was ultimately causing the disappearing. Once I set all the isHidden attributes to false, then true if necessary, everything is showing up.

[2020-02-14 23:08] #229 closed

[2020-03-03 02:50] robert-cronin commented on #221
Nothing yet @kishikawakatsumi ??

[2020-03-26 03:20] satowj opened #233 "Why does it seem I have to hold cell for a few seconds for 'didSelectItemAt' to trigger?"
## Expected Behavior
Hello, first of all I will say I am loving everything so far and thank you for all this.  I am also very new to swift :)

I am trying to get it so that when I tap a column header, it performs the sort action.  I want to be able to quickly tap it to activate it.

This is the same for body cells as well, but it seems its a little less time before they highlight themselves.

## A

[2020-03-26 12:42] yodagamaheshan commented on #199
I couldn't get the whole content view as pdf, only the visible rect.

[2020-03-28 23:54] kishikawakatsumi commented on #233
I need more info. Please provide a reproducible sample code. @satowj

[2020-04-06 10:02] raghavkansal95 opened #234 "is this available for android also?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2020-04-14 22:27] walaa118 opened #235 "RTL issue"
RTL is not working? is it any solution ?

thanks,

[2020-04-16 06:57] kishikawakatsumi commented on #235
Not yet supported.

[2020-04-16 06:57] #235 closed

[2020-05-08 15:36] cemalsayin opened #236 "Table View "willDisplay" func for detect SpreadsheetView scroll end for Pagination"
## Expected Behavior
Hi i want to pagination my SpreadsheetView i used tableview's **willDisplay** func my another table view. Does SpreadsheetView have any func for detect scroll end like table view;

[code]

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: 11
  - iOS version: ?
  - Dependency manager + version: ?

[2020-05-20 11:57] jaikalra opened #237 "Cells are overlapping each other"
## Expected Behavior
Actually I have spread view in table view cell. Spread view have 101 rows and 15 columns in each row. There is only one text field in each cell. Now when i run the app in iOS 12 then after scrolling 2 to 3 times the cell should be work properly.

## Actual Behavior
Now when i run the app in iOS 12 then after scrolling 2 to 3 times the cells are overlapping each others.

## Ste

[2020-05-28 09:52] snkitsolutions opened #239 "With frozenRows method getting different indexes"
## Expected Behavior
Frozen 1 row and 1 column should show array from index 0

## Actual Behavior
When I freeze both column and row. I am not getting first value of the array.
I have just commented
func frozenRows(in spreadsheetView: SpreadsheetView) -> Int {
        return 1
    }
function in one and uncommented in another.

With frozenRows method
![with_commented](https://user-images.githubuserc

[2020-06-25 12:34] mckavan commented on #152
I would also love such a feature (to reload a cell at a given index)!

[2020-06-30 03:34] RahulFate opened #241 "No interface builder found issue."
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2020-07-28 15:58] thecoolwinter commented on #234
This library is written in swift, which is available only on macOS, iPadOS and iOS devices.

[2020-07-28 16:34] #234 closed

[2020-08-21 16:58] panncherry opened #243 "Incompatible Swift version - framework was built with 3.1"
## Expected Behavior
*** Downloading SpreadsheetView.framework binary at "v0.8.4"

## Actual Behavior
***  Skipped installing SpreadsheetView.framework binary due to the error:
	"Incompatible Swift version - framework was built with 3.1 (swiftlang-802.0.53 clang-802.0.42) and the local version is 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53)."

## Steps to Reproduce the Problem

  1. Download S

[2020-09-16 06:28] Kashiwaman opened #245 "Accordion function"
thank you very much for releasing spreadsheetview framework. I have one question. Could you advise if "accordion function" is available with the spreadsheetview which allows us to close/open some rows/columns as group by only pressing button, just like Excel grouping function? Thanks.

[2020-09-22 13:33] Mudassir2021 opened #248 "didSelectItemAt stops calling after UILongPressGestureRecognizer until scrolled completely."
## Expected Behaviour: I need to reset the spreadView's cell by reloadData() on cell's Long Press.

## Actual Behaviour: Unfortunately until the spreadsheet is not scrolled completely after long press "didSelectItemAt" does not call ever.

## Steps to Reproduce the Problem

  1. call UILongPressGestureRecognizer on longTap on cell.
  2. call reloadData() for spreadView.
  3. didSelectItemAt stops

[2020-09-23 10:12] Mudassir2021 commented on #248
Hi there is there any workaround to resolve this issue, please respond.

[2020-09-23 20:58] Mudassir2021 commented on #248
i got it resolved by tap.delaysTouchesBegan = true.

[2020-09-23 20:59] #248 closed

[2020-10-08 01:50] bannzai commented on #243
I fixed about swift version problem that SpreadsheetView supported swift 5. I will release it and I close this PR. Thank you your contributions 👍

https://github.com/bannzai/SpreadsheetView/pull/256

[2020-10-08 01:50] #243 closed

[2020-10-08 15:02] varkrishna opened #259 "No delegate when scrollView Did End Scrolling Animation"
## Expected Behavior
It will be great help if there is a delegate for same

## Actual Behavior
No delegate telling that scrolling has been ended

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: 11.7
  - iOS version: 13.7
  - Dependency manager + version: Cocoapods + 1.9.1

[2020-10-08 15:11] #259 closed

[2020-10-19 12:07] isaranjha commented on #199
Export to Excel file would also be amazing.

[2020-10-22 12:42] EKOLX opened #262 "Resizing cells on device rotation"
Hi,

Could somebody help with resizing cell on device rotation to fit screen.

func spreadsheetView(_ spreadsheetView: SpreadsheetView, widthForColumn column: Int) -> CGFloat {
        return self.view.frame.size.width / 4
    }

it sets initially but on rotation doesn't recalculate.

[2020-11-02 16:30] sborkin opened #263 "Subviews and frozen columns scroll issue"
First, thanks for this excellent framework! no words can describe how great it is, and how much work it saved me!

I would like to have an overlay view, I'm doing it using the info from this related merged fix:
https://github.com/bannzai/SpreadsheetView/issues/33
https://github.com/bannzai/SpreadsheetView/pull/57

Please see the red vertical overlay view in this screenshot:

![image](https://user-

[2020-11-04 07:00] ntsangIT opened #264 "Delegate didSelectItemAt does not work after scroll sheetView."
## Expected Behavior
Delegate didSelectItemAt work OK after scroll sheetView.

## Actual Behavior
I cannot catch the didSelectItemAt event in the delegate

## Steps to Reproduce the Problem
Conditional:
Prepare data with multiple columns and rows.
  1. Scroll sheetView back and forth
  2. Tap on any cell, could not get didSelectItemAt event

## Specifications
  - Xcode version: 12.0
  - iOS versio

[2020-11-14 07:56] hungwei0331 opened #268 "how to set value into timeTable Cell"
## Expected Behavior

i had read the sample code of timeTable example project,

for example if i want to set the slot name into cell,

expected to add String into slotInfoArray

how could i make it,

sorry i know its a easy question,

but i stocked in this,

slotInfo[IndexPath(row: cellRange.from.row, column: cellRange.from.column)] = (minutes, duration)

thanks in advance for any comment

[2020-11-14 11:44] hungwei0331 commented on #268
I found that "var slotInfo = [IndexPath: (Int, Int)]()" is an dictionary
modified the value directly would be solved

[2020-11-14 11:45] #268 closed

[2020-12-01 02:00] isaranjha opened #269 "Abnormal CPU usage on Big Sur using Catalyst"
## Expected Behavior

Nominal CPU usage when scrolling through cells. On iOS, CPU usage peaks at around 30% in my app with smooth scrolling.

## Actual Behavior

Extremely choppy scrolling on Big Sur using Catalyst; CPU usage around 100%; same code just compiled for Mac.

## Steps to Reproduce the Problem

  1. Compile a SpreadsheetView for Mac using Catalyst.

## Specifications

  - Xcode version

[2020-12-04 21:48] EliteTechnicalCare opened #270 "Swift Package Manager Support"
Can Swift Package Manager be added as an alternative to cocoapods/cathridge

[2021-01-06 05:32] #269 closed

[2021-01-13 13:41] matantech opened #271 "For the ones encountering with Unknown class in Interface Builder file"
You have to put SpreadsheetView as custom class and module as well.
Spent few hours understanding it.

[2021-01-27 11:22] timpickles commented on #239
It's possible to see the missing row when using _Debug View Hierarchy_ and rotating the view. You can see the missing row sitting directly underneath the frozen row. I hope this helps identify the issue.

[2021-02-23 10:00] RanaAhmedHamdy commented on #236
I have the same problem, any solutions found?

[2021-02-28 06:47] hartti commented on #270
I tested a little around, by cloning the repository and trying to create a Package.swift file for it.  The result of my trials is below. Just adding this file (note that the file contents might not be completely correct but it seems to work) and creating a new version should do it

Package.swift

// swift-tools-version:5.3
import PackageDescription

let package = Package(
    name: "SpreadsheetVie

[2021-03-08 04:11] leisurehound opened #272 "Support macOS?"
I see UIKit pretty well entwined throughout the sources.  Any clue how hard it would be to support macOS frameworks natively (and without Mac Catalyst)?

[2021-03-20 17:28] yasminmohsen opened #273 "Change Layout from left to right"
## Expected Behavior
change the spreadsheet layout from left to right, I want to be able to tell spreadsheet  to flip its layout from LTR to RTL and vice versa

## Actual Behavior
when forcing parent layout to change  from LTR to RTL ,all component in the view change except the spreadsheet  is still LTR

## Specifications

  - Xcode version: 12.0.1
  - iOS version: 13
  - Dependency manager + vers

[2021-03-20 20:00] yasminmohsen commented on #273
Solved

[2021-03-20 20:00] #273 closed

[2021-03-20 20:01] yasminmohsen commented on #273
Solved using :
//in viewDidLoad
    spreadSheetView.transform = CGAffineTransform(scaleX: -1.0, y: 1.0)

//in cellForItemAtIndexPath
    cell.transform = CGAffineTransform(scaleX: -1.0, y: 1.0)

[2021-03-27 11:42] likil33 opened #274 "spreadsheetView.dataSource = self crashing"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Xcode version: ?
  - iOS version: ?
  - Dependency manager + version: ?

[2021-03-27 11:44] likil33 commented on #274
@IBOutlet weak var spreadsheetView: SpreadsheetView! (taken outlet - used UIView)

spreadsheetView.dataSource = self.   - crashing
        spreadsheetView.delegate = self

why it is not initialise.

[2021-04-02 03:01] #274 closed

[2021-04-03 09:53] PGandhi30 opened #275 "Is it gridline customised?"
## Expected Behavior
Actually, Gridline is perfect display but need a dashed line as a separator of a row.
row like example:
A     B          C     D
--------------------------------
E    F          G      H

## Actual Behavior

A     B          C     D
___________________________
E    F          G      H

Data is perfect display main difference of a line. Can you please help me on that?

[2021-04-06 14:19] jarrodparkes commented on #270
^ @hartti would your experiment be worth a PR to kickstart this?

[2021-04-06 14:49] jarrodparkes commented on #270
@hartti trying to push this forward with https://github.com/bannzai/SpreadsheetView/pull/276

[2021-05-21 07:57] rahulverma1999 opened #277 "Scroll to end of textfield when width is greater than visible width."
## Expected Behavior
Not to scroll automatically to the end of the textfield when width is greater than the visible width.

## Actual Behavior
scrolling automatically to the end of the textfield and hiding the starting Data inside the textfield.

## Steps to Reproduce the Problem

1. Add two columns inside the spreadsheet view
2. Make first column freeze and set its width to 200px
3. Add an Ui Tex

[2021-05-23 04:21] jamesjmtaylor commented on #274
For those developers that encounter this crash, the solution is below:

1. On the storyboard click on your SpreadsheetView
2. On the right panel select "Identity Inspector"
3. Under 'Custom Class' set the Module to SpreadsheetView and not to your target.
(in case you didn't set it the view should be a SpreadsheetView class (also under 'Custom Class'))

[2021-09-21 04:09] keisukeYamagishi opened #278 "I think protocol should inherit from AnyObject."
## Expected Behavior

I think protocol should inherit from AnyObject.
As described in the following article, the specification is such that if you do not inherit AnyObject in protocol, you will get a warning.
[](https://forums.swift.org/t/class-only-protocols-class-vs-anyobject/11507)

## Actual Behavior
Since the class is inherited by protocol, we get a `warning`.

## Steps to Reproduce the Probl

[2021-10-23 15:59] leobartowski opened #280 "Doesn't work with Storyboard? I cannot set delegate and dataSource"
## Expected Behavior
If i create a UIView and then try to assign the SpreadsheetView Class, I cannot set delegate and datasource and the apps crash!

## Specifications

  - Xcode version: 13
  - iOS version: 15

[2021-11-01 14:26] gnchishti opened #281 "add timeline on custom created calendar"
Hi,

I am using objective c version of [SpreadsheetView-ObjC](https://github.com/walidhossain/SpreadsheetView-ObjC).

I need to add timeline on my custom created calendar using SpreadsheetView. I am displaying 24 hours timeline and 24 scrollable lines. I need to add a red time line to current time as shown in following image (showing Time 15:06) [Timeline Image](https://user-images.githubuserconte

[2021-11-04 12:49] gnchishti commented on #281
Anyone?

[2021-12-31 13:29] cemsertkaya commented on #280
++

[2022-03-06 10:07] amrzayed commented on #280
+1

[2022-03-15 09:39] imnayandave commented on #199
Me too

[2022-03-25 16:09] Miguel86 commented on #1
Is there any possibility that drag and drop would be added?

[2022-04-06 04:29] bhanudhimanHF opened #283 "Reload issue"
## Expected Behavior
Hi team,

I'm facing memory issue when I reload spreadsheet view

## Actual Behavior

Once I reload spreadsheet it always increase memory by 5-10 MB. Once memory increased the spreadsheet lacked.

## Steps to Reproduce the Problem

  1. Reload spreadsheetview

## Specifications

  - Xcode version:  13.1
  - iOS version:  iPad 15.2

[2022-04-27 12:19] bhanudhimanHF opened #284 "Is there any method to reload particular row and column"
## Expected Behavior
I'm using spreadsheet view, I need to reload only particluar row and column  is there any method to allow me this?

## Actual Behavior
I'm using spreadsheet view, I need to reload only particluar row and column  is there any method to allow me this?

## Steps to Reproduce the Problem

  1. Reload spreadsheetview

## Specifications

  - Xcode version: 13.1
  - iOS version: iPad

[2022-05-09 10:08] sayler8182 opened #285 "Accessibility support"
## Expected Behavior
Library should support Accessibility feature

## Actual Behavior
Library do not support Accessibility feature

## Steps to Reproduce the Problem

  1.Turn on Accessibly in device settings
  2.Display SpreadsheetView
  3.Tests are read in incorrect order

## Specifications

 - Xcode version: 13.1
 - iOS version: iPad 15.2
 - Library version: v0.9.1

[2022-06-13 11:27] YoshiyukiNakazato commented on #280
You should also assign SpreadsheetView in Module.

[2022-07-29 00:26] rholstad opened #286 "Unable to deselect item in spreadsheetView(_:didSelectItemAt:)"
## Expected Behavior
Calling `spreadsheetView.deselectItem(at: indexPath, animated: true)` in the `spreadsheetView(_:didSelectItemAt:)` delegate method should deselect the item. `UITableView` has this behavior.

## Actual Behavior
Calling `spreadsheetView.deselectItem(at: indexPath, animated: true)` in the `spreadsheetView(_:didSelectItemAt:)` delegate method does not deselect the item because the

[2022-08-31 00:04] jdorigo10 commented on #284
Looking for the same thing, please let me know if anyone has come across a solution

[2022-08-31 00:05] jdorigo10 commented on #152
Looking for the same thing, please let me know if anyone has come across a solution

[2022-09-24 13:05] jeet-chanchawat opened #287 "Requesting @IBDesignable support for SpreadSheetView"
## Expected Behavior
In Identity inspector the class SpreadSheetView must be available to design the UI graphically

## Actual Behavior
The class is not @IBDesignable compliant

## Steps to Reproduce the Problem

  1. Create a view in StoryBoard
  2. Switch to Identity inspector tab.
  3. Try changing the class of the view to SpreadSheetView
  4. SpreadSheetView is not available for selection

##

[2022-09-24 13:12] #287 closed

[2022-10-18 12:07] #280 closed

[2022-11-21 07:10] dinhletrieuduong commented on #74
I can't add SpreadsheetView to my project by SPM. It said /Package.swift has no Package.swift manifest.
What should I do? Can anyone help me?
<img width="636" alt="Screen Shot 2022-11-21 at 14 08 00" src="https://user-images.githubusercontent.com/39703705/202986625-6f3b7234-14d8-4a1b-9ab8-d685003766dc.png">

[2022-11-23 06:47] rockyto opened #289 "How can I display the json data in a Swift SpreadsheetView"
I want using SpreadsheetView to show data, from a json, in a grid but I don't know how to show them because with this pod it is necessary to invoke an array for each column. I would like to order this data from my json in the corresponding columns and also when touching a cell in a row I was taken to a view to show the related data.

Attached the code of what I have done.

The view i use to displa